<!doctype html>
<html lang="pt-BR">
	<head>
		{LAYOUT}

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="../estilo.css">
		<link rel="stylesheet" type="text/css" href="../import/bootstrap-3.3.7/css/bootstrap.min.css">

		<!-- JS -->
		<script language="javascript" src="../import/jquery/jquery-1.7.2.min.js" type="text/javascript"></script>
		<script language="javascript" src="../import/jquery/jquery.maskmoney.js" type="text/javascript"></script>
		<script language="javascript" src="../import/jquery/jquery.maskedinput.js" type="text/javascript"></script>
		<script language="javascript" src="../import/bootstrap-3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
		<script language="javascript" src="../funcoes.js" type="text/javascript"></script>

		<style>
			.text-defalt {font-size: 8pt; color: #000}
			.main-title-table {background: #75ADE6; font-size: 8pt; color: #000; padding: 3px 0}
			.border-content {border: 1px solid #75ADE6}
			.background-td { background: #DCEDF7}
			.buttons-action-table { padding: 5px;}

			.tableFixHead    { overflow-y: auto; }
			table  { border-collapse: collapse; width: 100%; }
			th, td { padding: 4px 8px; }
			th     { background:#eee;}
		</style>
		<script>
            $(document).ready(function() {
                // Fixed Table
                var $th = $('.tableFixHead').find('thead tr th')
                $height = $(window).height() * 1;

                $('.tableFixHead').css({
                    'max-height': $height,

                });
                $('.tableFixHead').on('scroll', function() {
                    $th.css({
                        'transform': 'translateY('+ this.scrollTop +'px)',
                    });
                });
            });
		</script>
	</head>
	<body background="../midia/bg.gif" marginwidth="0" marginheight="0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 col-lg-12 main-title-table">
					<div class="text-center">
						<strong>{TITULO_PAGINA}</strong>
					</div>
				</div>

				<!-- BEGIN BLOCO_ERRO -->
				<div class="col-md-12 col-lg-12 text-defalt">
					<div class="row background-td">
						{MENSAGEM_ERRO}
					</div>
				</div>
				<!-- END BLOCO_ERRO -->

				{CORPO}

			</div>
		</div>
	</body>
</html>
