<html>
	{LAYOUT}
	<script language="javascript" type="">
		<!--
			{MENU}
		//-->
	</script>
	<link rel="stylesheet" type="text/css" href="../estilo.css">
	<script language="javascript" src="../import/jquery/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script language="javascript" src="../import/jquery/jquery.maskmoney.js" type="text/javascript"></script>
<script language="javascript" src="../import/jquery/jquery.maskedinput.js" type="text/javascript"></script>
	<script language="javascript" src="../funcoes.js" type="text/javascript"></script>
	<body background="../midia/bg.gif" marginwidth="0" marginheight="0">
	
<table cellpadding="3" border="0" summary="">
  <!-- Caminho --> 
  <!-- Fim do Caminho-->

	<!-- BEGIN BLOCO_ERRO -->
	<tr>
	  <td align='left' colspan='2'>{MENSAGEM_ERRO}</td>
	</tr>
	<!-- END BLOCO_ERRO -->
	<!-- Corpo -->
	<tr>
		<td class="textonormal">
      <table  border="0" cellspacing="0" cellpadding="3" summary="">
        <tr>
	      	<td class="textonormal">
		{CORPO}
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<!-- Fim do Corpo -->
</table>

	</body>	
</html>
