<!-- 220038-- -->
    <script type="text/javascript">
        function enviar(valor){
            if (valor === 'Inserir' || valor === 'Salvar') {
                sessionStorage.setItem("dataInicialAta", $('#dataInicialAta').val());
            }

            $("#Botao").val(valor);
            $("#CadAtaRegistroPrecoInternaManterAtasAlterar").submit();
        }

        function validarValor(){
            var valorInput = document.CadAtaRegistroPrecoInternaManterAtasAlterar.vigencia.value;
            if(valorInput < 1){
                document.CadAtaRegistroPrecoInternaManterAtasAlterar.vigencia.value = 0;
            }
        }
        function inserirFile(valor){
            document.CadAtaRegistroPrecoInternaManterAtasAlterar.file.value = document.CadAtaRegistroPrecoInternaManterAtasAlterar.fileArquivo.value;
            document.CadAtaRegistroPrecoInternaManterAtasAlterar.submit();
        }

        // Atualiza o valor total de um material Material ou serviço, e recalcula o total de todos os itens
        function AtualizarValorTotal(qtde,valor,idTotal){
            var quantidade = document.getElementById(qtde).value;
            var valor = document.getElementById(valor).value;

            var totalItem = moeda2float(quantidade) * moeda2float(valor);

            document.getElementById(idTotal).innerHTML = float2moeda(totalItem);

            calcularTotalAta();
        }

        function calcularTotalAta() {
            var total = 0;

            $(".totalUnitario").each(function(){
                total += moeda2float($( this ).text());
            });
            
            $("#valorTotal").text(float2moeda(total));
        }

        $(document).ready(function(){
            $('.removerDocumento').click(function(e){
                e.preventDefault();
                $('#documentoExcluir').val($(this).attr('doc'));
                $('#Botao').val('Remover');
                sessionStorage.setItem("dataInicialAta", $('#dataInicialAta').val());
                $("#CadAtaRegistroPrecoInternaManterAtasAlterar").submit();
            });

            var dataSessao = sessionStorage.getItem('dataInicialAta');

            if (dataSessao === "null" || dataSessao === null) {
                $('#dataInicialAta').val("{VALOR_DATA}");
            } else {
                $('#dataInicialAta').val(dataSessao);
                sessionStorage.setItem("dataInicialAta", null);
            }
        });
</script>
<form action="CadAtaRegistroPrecoInternaManterAtasAlterar.php?ano={VALOR_ANO_SESSAO}&processo={VALOR_PROCESSO_SESSAO}&orgao={VALOR_ORGAO_SESSAO}&ata={VALOR_ATA_SESSAO}" method="post" name="CadAtaRegistroPrecoInternaManterAtasAlterar" id="CadAtaRegistroPrecoInternaManterAtasAlterar" enctype="multipart/form-data">
    <table border="1" cellpadding="3" cellspacing="0" bordercolor="#75ADE6" summary="" class="textonormal" bgcolor="#FFFFFF" style="width: 633px;" >
        <tr>
            <td
                align="center" bgcolor="#75ADE6" valign="middle" class="titulo3" colspan="9">
                MANTER ATA INTERNA
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <table class="textonormal" colspan="4">
                    <!-- BEGIN BLOCO_LICITACAO -->
                    <tr>
                        <td class="textonormal" bgcolor="#DCEDF7" width="20%" align="left">Nº da Ata Interna</td>
                        <td class="textonormal" width="80%" align="left">
                            {VALOR_ATA}.<input type="text" name="valor_ata_numero" id="valorAtaNumero" maxlength="4" value="{VALOR_ATA_NUMERO}" style="width: 50px;">/<input type="text" name="valor_ata_ano" id="anoAta" maxlength="4" value="{VALOR_ATA_ANO}" style="width: 50px;">	
                        </td>
                    </tr>
                    <tr bordercolor="#DCEDF7">
                        <td class="textonormal" bgcolor="#DCEDF7" width="20%" align="left">
                            Comissão
                        </td>
                        <td class="textonormal" width="80%" align="left">
                            {VALOR_COMISSAO}
                            <input type="hidden" name="codigocomissao" value="{VALOR_CODIGO_COMISSAO}"/>
                            <input type="hidden" name="codigoGrupo" value="{VALOR_CODIGO_GRUPO}"/>
                        </td>
                    </tr>
                    <tr>
                        <td
                            class="textonormal" bgcolor="#DCEDF7" width="20%" align="left">
                            Processo
                        </td>
                        <td class="textonormal" width="80%" align="left">
                            {VALOR_PROCESSO}
                        </td>
                    </tr>
                    <tr>
                        <td class="textonormal" bgcolor="#DCEDF7" width="20%" align="left">Ano</td>
                        <td class="textonormal" width="80%" align="left">
                            {VALOR_ANO}
                            <input type="hidden" name="ano" value="{VALOR_ANO}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="textonormal" bgcolor="#DCEDF7" width="20%" align="left">Modalidade</td>
                        <td class="textonormal" width="80%" align="left">{VALOR_MODALIDADE}</td>
                    </tr>
                    <tr>
                        <td class="textonormal" bgcolor="#DCEDF7" width="20%" align="left">Licitação</td>
                        <td class="textonormal" width="80%" align="left">{VALOR_LICITACAO}</td>
                    </tr>
                    <tr>
                        <td class="textonormal" bgcolor="#DCEDF7" width="20%" align="left">Ano Licitação</td>
                        <td class="textonormal" width="80%" align="left">{VALOR_ANO_LICITACAO}</td>
                    </tr>                    
                    <tr>
                        <td class="textonormal" bgcolor="#DCEDF7" width="20%" align="left">Órgão Gestor</td>
                        <td class="textonormal" width="80%" align="left">{VALOR_ORG_LIMITE}</td>
                    </tr>
                    <tr>
                        <td class="textonormal" bgcolor="#DCEDF7" width="20%" align="left">Participantes do Processo</td>
                        <td class="textonormal" width="80%" align="left">{VALOR_PARTICIPANTES}</td>
                    </tr>
                    <tr>
                        <td class="textonormal" bgcolor="#DCEDF7" width="20%" align="left">Objeto</td>
                        <td class="textonormal" width="80%" align="left">{VALOR_OBJETO}</td>
                    </tr>
                    <tr>
                        <td class="textonormal" bgcolor="#DCEDF7" width="20%" align="left">Data Inicial Ata *</td>
                        <td class="textonormal" width="80%" align="left">
                            <input class="textonormal" type="text" value="{VALOR_DATA}" maxlength="10" size="10" name="data" id="dataInicialAta" />
                            <a href="javascript:janela('../calendario.php?Formulario=CadAtaRegistroPrecoInternaManterAtasAlterar&Campo=data','Calendario',220,170,1,0)">
                            <img border="0" alt="" src="../midia/calendario.gif"/></a>
                            <font class="textonormal">dd/mm/aaaa</font></td>
                            <tr>
                    </tr>
                        <td class="textonormal" bgcolor="#DCEDF7" width="20%" align="left">Vigência *</td>
                        <td class="textonormal" width="80%" align="left">
                            <input type="text" name="vigencia" value="{VALOR_VIGENCIA}" onchange="javascript:validarValor()" style="width: 40px;">
                            <input type="hidden" name="vigenciaInformada" value="{VALOR_VIGENCIA}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="textonormal" bgcolor="#DCEDF7" width="20%" align="left">Documento(s) *</td>
                        <td class="textonormal" width="80%" align="left">
                            <!-- BEGIN BLOCO_FILE -->
                            <input type="file" name="fileArquivo" value="{VALOR_DOCUMENTO}"/>
                            <input type="button" name="inserir" value="Incluir" class="botao" onclick="javascript:enviar('Inserir')" onsubmit="javascript:inserirFile({VALOR_DOCUMENTO})"/>
                            <!-- END BLOCO_FILE -->

                            <!-- BEGIN BLOCO_DOCUMENTO -->
                            <ul>
                                <li>
                                    {NOME_DOCUMENTO}
                                    <input type="button" name="remover[]" value="Remover" class="botao removerDocumento"  doc="{ID_DOCUMENTO}"/>
                                </li>
                            </ul>
                            <!-- END BLOCO_DOCUMENTO -->
                        </td>
                    </tr>
                    <tr>
                        <td class="textonormal" bgcolor="#DCEDF7" width="20%" align="left">Fornecedor</td>
                        <td class="textonormal" width="80%" align="left">{VALOR_FORNECEDOR}</td>
                        <input type="hidden" name="fornecedor" value="{VALOR_CODIGO_FORNECEDOR}"/>
                    </tr> <!-- END BLOCO_LICITACAO -->
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" bgcolor="#75ADE6" valign="middle" class="titulo3">ITENS ATA INTERNA</td>
        </tr>
        <tr>
            <td>
                <table border="1" cellpadding="3" cellspacing="0" bordercolor="#75ADE6" summary="" class="textonormal" bgcolor="#FFFFFF">
                    <tr>
                        <td class="textoabason" bgcolor="#DCEDF7" width="127px" align="center">LOTE</td>
                        <td class="textoabason" bgcolor="#DCEDF7" width="127px" align="center">ORD.</td>
                        <td class="textoabason" bgcolor="#DCEDF7" align="center">TIPO</td>
						<td class="textoabason" bgcolor="#DCEDF7" align="center">COD. REDUZIDO</td>
                        <td class="textoabason" bgcolor="#DCEDF7" width="127px" align="center">DESCRICAO</td>
                        <td class="textoabason" bgcolor="#DCEDF7" width="506px" align="center">UND.</td>
                        <td class="textoabason" bgcolor="#DCEDF7" width="506px" align="center">MARCA</td>
                        <td class="textoabason" bgcolor="#DCEDF7" width="506px" align="center">MODELO</td>
                        <td class="textoabason" bgcolor="#DCEDF7" width="127px" align="center">QUANTIDADE ORIGINAL</td>
                        <td class="textoabason" bgcolor="#DCEDF7" width="127px" align="center">VALOR ORIGINAL UNIT.</td>
                        <td class="textoabason" bgcolor="#DCEDF7" width="506px" align="center">VALOR TOTAL</td>
                        
                        <td class="textoabason" bgcolor="#DCEDF7" width="506px" align="center">QUANTIDADE ATUAL</td>
                        <td class="textoabason" bgcolor="#DCEDF7" width="127px" align="center">VALOR UNITÁRIO ATUAL</td>
                        <td class="textoabason" bgcolor="#DCEDF7" width="506px" align="center">VALOR TOTAL ATUAL</td>
                        <td class="textoabason" bgcolor="#DCEDF7" width="127px" align="center">SITUAÇÃO</td>
                    </tr>
                    <!-- BEGIN BLOCO_RESULTADO_ATAS -->
                    <tr>
                        <input type="hidden" name="ItemAtaRegistroPrecoNova[{CONTADOR}][codigo_ata]" value="{CODIGO_ATA}">
                        <input type="hidden" name="ItemAtaRegistroPrecoNova[{CONTADOR}][codigo_item]" value="{CODIGO_ITEM}">

                        <td class="textonormal" width="50px" align="center">{VALOR_LOTE}</td>
                        <td class="textonormal" width="50px" align="center">{VALOR_ORDEM}</td>
                        <td class="textonormal" align="center">{VALOR_TIPO}</td>
                        <td class="textonormal" align="center">{VALOR_CADUS}</td>
                        <td class="textonormal" width="70px" align="center">{VALOR_DESCRICAO}</td>
                        <td class="textonormal" width="50px" align="center">{VALOR_UND}</td>
                        <td class="textonormal" width="12px" align="center">{VALOR_MARCA}</td>
                        <td class="textonormal" width="12px" align="center">{VALOR_MODELO}</td>
                        <td class="textonormal" width="50px" align="center">{VALOR_QTD_ORIGINAL}</td>
                        <td class="textonormal" width="50px" align="center" >{VALOR_UNITARIO_ORIGINAL}</td>
                        <td class="textonormal" width="50px" align="center">{VALOR_TOTAL_ORIGINAL}</td>
                        
                        <td class="textonormal" width="50px" align="center">
                            <input type="text" id="ItemAtaRegistroPrecoNova[{CONTADOR}][qtd_atual]" name="ItemAtaRegistroPrecoNova[{CONTADOR}][qtd_atual]" value="{VALOR_QTD_ATUAL}" maxlength="16" class="dinheiro4casas" onblur="javascript:AtualizarValorTotal('ItemAtaRegistroPrecoNova[{CONTADOR}][qtd_atual]','ItemAtaRegistroPrecoNova[{CONTADOR}][valor_unitario]','totalUnitarioItem[{CONTADOR}]');" />
                        </td>
                        <td class="textonormal" width="50px" align="center">
                            <input type="text" id="ItemAtaRegistroPrecoNova[{CONTADOR}][valor_unitario]" name="ItemAtaRegistroPrecoNova[{CONTADOR}][valor_unitario]" value="{VALOR_VALOR_ATUAL}" maxlength="16" class="dinheiro4casas" onblur="javascript:AtualizarValorTotal('ItemAtaRegistroPrecoNova[{CONTADOR}][qtd_atual]','ItemAtaRegistroPrecoNova[{CONTADOR}][valor_unitario]','totalUnitarioItem[{CONTADOR}]');" />
                        </td>
                        <td class="textonormal totalUnitario" width="50px" align="center" id="totalUnitarioItem[{CONTADOR}]" name="totalUnitarioItem[]">{VALOR_TOTAL_ATUAL}</td>
                        <td class="textonormal" width="55px" align="center">
                            <select name="ItemAtaRegistroPrecoNova[{CONTADOR}][situacao]">
                                <option {VALOR_SITUACAO_ATIVO} value="A">ATIVO</option>
                                <option {VALOR_SITUACAO_INATIVO} value="I">INATIVO</option>
                            </select>
                        </td>
                    </tr>
                    <!-- END BLOCO_RESULTADO_ATAS -->
                    <tr>
                            <td class="titulo3 itens_material menosum" colspan="11">TOTAL DA ATA</td>
                            <td align="right" class="textonormal">
                                <span id="valorTotal">{TOTAL_ATA}</span>
                            </td>
                            <td align="right" class="textonormal"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="textonormal" align="right">
                <!-- BEGIN BLOCO_BOTAO -->
                <input type="hidden" id="documentoExcluir" name="documentoExcluir" value="" />
                <input type="hidden" name="ano" value="{VALOR_ANO_SESSAO}" class="botao" onclick="javascript:enviar('Alterar')" />
                <input type="hidden" name="processo" value="{VALOR_PROCESSO_SESSAO}" class="botao" onclick="javascript:enviar('Visualizar')" />
                <input type="hidden" name="ata" value="{VALOR_ATA_SESSAO}" class="botao" onclick="javascript:enviar('Inativar')" />
                <input type="hidden" name="orgao" value="{VALOR_ORGAO_SESSAO}" class="botao" onclick="javascript:enviar('Inativar')" />
                <input type="button" name="salvar" value="Salvar" class="botao" onclick="javascript:enviar('Salvar')" />
                <input type="button" name="voltar" value="Voltar" class="botao" onclick="javascript:enviar('Voltar')" />
                <input type="hidden" name="Botao" id="Botao" value="" />
                <!-- END BLOCO_BOTAO -->
            </td>
        </tr>
    </table>
</form>
