<!-- 220038-- -->
<script type="text/javascript">

    function enviar(valor){
        document.CadAtaRegistroPrecoCaronaAtaExternaIncluir.Botao.value = valor;
        document.CadAtaRegistroPrecoCaronaAtaExternaIncluir.submit();
    }
    
    function calcularTotal(idOriginal, idAtual,idTotal){
    
        var original = replaceAll($('input[name^="' + idOriginal +'"]').val(), '.', '').replace(',','.');
        var atual = replaceAll($('input[name^="' + idAtual +'"]').val(), '.', '').replace(',','.');
        var total = parseFloat(original) * parseFloat(atual);
        $('span[name^="' + idTotal +'"]').html(float2moeda(total.toString()));
    
        var soma = parseFloat(0);
        $('span[name^="total"]').each(function() {
          var item = $(this).text();
           soma += moeda2float(item);
        });
    
        $("#MaterialTotal").html(float2moeda(soma.toString()));
    }
    
    function replaceAll(str, de, para){
        var pos = str.indexOf(de);
        while (pos > -1){
            str = str.replace(de, para);
            pos = str.indexOf(de);
        }
        return (str);
    }
    
    $(document).ready(function(){
        $('#verificarSaldoCarona').focusout(function(){
            
        });

        $(".formatData").mask("99/99/9999");

        $('.removerDocumento').click(function(e){
            e.preventDefault();
            $('#documentoExcluir').val($(this).attr('doc'));
            enviar('RetirarDocumento');
        });

    });

    function AbreJanela(url,largura,altura) {
        window.open(url,'pagina','status=no,scrollbars=no,left=20,top=150,width='+largura+',height='+altura);
    }
    
    </script>
    
    <form action="CadAtaRegistroPrecoCaronaAtaExternaIncluir.php" method="post" name="CadAtaRegistroPrecoCaronaAtaExternaIncluir" enctype="multipart/form-data">
        <input name="tipoControle" type="hidden" value="{VALOR_TIPO_CONTROLE}" />
        <table cellspacing="0" cellpadding="3" bordercolor="#75ADE6" border="1" bgcolor="#FFFFFF" style="width: 633px;" class="textonormal" summary="">
            <tbody>
                <tr>
                    <td bgcolor="#75ADE6" valign="middle" align="center" colspan="14" class="titulo3">INCLUIR - CARONA ÓRGÃO EXTERNO</td>
                </tr>
    
                <tr>
                    <td colspan="14">
                        <table border="0" width="100%" summary="">
                            <tbody>
                                <tr>
                                    <td bgcolor="#DCEDF7" width="30%" height="20" class="textonormal">Nº da Ata Interna</td>
                                    <td align="left"  valign="middle" class="textonormal">{ATA}</td>
                                </tr>
    
                                <tr>
                                    <td bgcolor="#DCEDF7" width="30%" height="20" class="textonormal">Processo Licitatório</td>
                                    <td align="left"  valign="middle" class="textonormal">{PROCESSO}</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#DCEDF7" width="30%" height="20" class="textonormal">Órgão Gestor</td>
                                    <td align="left"  valign="middle" class="textonormal">{ORGAO_GESTOR}</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#DCEDF7" width="30%" height="20" class="textonormal">Comissão Licitação</td>
                                    <td align="left"  valign="middle" class="textonormal">{COMISSAO_LICITACAO}</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#DCEDF7" width="30%" height="20" class="textonormal">Órgão Externo Solicitante da Carona *</td>
                                    <td align="left"  valign="middle" class="textonormal">{ORGAO_CARONA}
                                        <input type="hidden" value="{ORGAO_CARONA}" name="orgaoCarona" id="verificarSaldoCarona" size="52" />
                                        <!-- <input type="button" name="Atualizar Saldo" value="Atualizar Saldo" class="botao" onclick="javascript:enviar('incluir')" /> -->
                                        <a style="text-decoration: none" href="javascript:AbreJanela('CadListaOrgaoExterno.php',700,370);" id='orgaoCarona'>
                                            <img src="../midia/lupa.gif" border="0">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#DCEDF7" width="30%" height="20" class="textonormal">Data de Autorização *</td>
                                    <td align="left"  valign="middle" class="textonormal">
                                        <input type="text" value="{DATA_AUTORIZACAO}" id="DataLimite" size="10" maxlength="10" class="formatData" name="dataAutorizacao" />
                                    <a href="javascript:janela('../calendario.php?Formulario=CadAtaRegistroPrecoCaronaAtaExternaIncluir&Campo=dataAutorizacao','Calendario',220,170,1,0)">
                                        <img src="../midia/calendario.gif" border="0" alt=""></a> <font class="textonormal">dd/mm/aaaa</font>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="textonormal" bgcolor="#DCEDF7" width="20%" height="20" align="left">Documento(s)*</td>
                                    <td class="textonormal" width="80%" align="left">
                                        <!-- BEGIN BLOCO_FILE -->
        
                                        <input type="file" name="fileArquivo" value="" />
                                        <input type="submit" name="inserir" value="Incluir" class="botao" onclick="javascript:enviar('Inserir')" />
        
                                        <!-- END BLOCO_FILE -->
        
                                        <ul>{VALOR_DOCUMENTOS_ATA}</ul>
        
                                        <!-- <input type="file" name="fileArquivo" value="TODO" />
                                        <input type="submit" name="TODO" value="Incluir" class="botao" onclick="javascript:enviar('InserirDocumento')" />
                                        {VALOR_DOCUMENTOS} -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#75ADE6" valign="middle" align="center" class="titulo3 itens_material" colspan="14">ITENS DA ATA</td>
                </tr>
    
                <!-- BEGIN BLOCO_TR_RESULTADO_ATAS -->
                <tr class="head_principal">
                    <td class="textoabason" bgcolor="#DCEDF7" width="40px" align="center">LOTE</td>
                    <td class="textoabason" bgcolor="#DCEDF7" width="127px" align="center">ORD.</td>
                    <td class="textoabason" bgcolor="#DCEDF7" align="center">TIPO</td>
                    <td class="textoabason" bgcolor="#DCEDF7" align="center">COD. REDUZIDO</td>
                    <td class="textoabason" bgcolor="#DCEDF7" width="300px" align="center">DESCRIÇÃO</td>
                    <td class="textoabason" bgcolor="#DCEDF7" width="50px" align="center">UND.</td>
                    <td class="textoabason" bgcolor="#DCEDF7" width="50px" align="center">MARCA</td>
                    <td class="textoabason" bgcolor="#DCEDF7" width="50px" align="center">MODELO</td>
                    <td class="textoabason" bgcolor="#DCEDF7" width="55px" align="center">QUANTIDADE</td>
                    <td class="textoabason" bgcolor="#DCEDF7" width="50px" align="center">VALOR UNIT.</td>
                    <td class="textoabason" bgcolor="#DCEDF7" width="50px" align="center">VALOR TOTAL</td>    
                    <td style="{EXIBIR_TD_QUANTIDADE}" class="textoabason" bgcolor="#DCEDF7" width="50px" align="center">SALDO QUANTIDADE CARONA</td>
                    <td style="{EXIBIR_TD_QUANTIDADE}" class="textoabason" bgcolor="#DCEDF7" width="50px" align="center">QUANTIDADE SOLICITADA</td>
                    <td style="{EXIBIR_TD_VALOR}" class="textoabason" bgcolor="#DCEDF7" width="50px" align="center">SALDO VALOR CARONA</td>
                    <td style="{EXIBIR_TD_VALOR}" class="textoabason" bgcolor="#DCEDF7" width="50px" align="center">VALOR SOLICITADO</td>                                                
                    <td class="textoabason" bgcolor="#DCEDF7" width="50px" align="center">VALOR TOTAL ATUAL</td>
                </tr>
                <!-- END BLOCO_TR_RESULTADO_ATAS -->
    
                <!-- Dados ITENS DA SOLICITAÇÃO DE MATERIAL  -->
                <tr>
                    <!--  Coluna 1 = Codido-->
                    <!-- BEGIN BLOCO_RESULTADO_ATAS -->
                    <td class="textonormal" width="40px" align="center">{LOTE}</td>
                    <td align="center" style="text-align: center" class="textonormal">{ORDEM}
                        <input type="hidden" value="{ORDEM}" name="ordemItem[{INDEX}]" />
                    </td>
                    <td align="center" style="text-align: center" class="textonormal">{TIPO}
                        <input type="hidden" value="{TIPO}" name="CodigoItem[{INDEX}]" />
                    </td>
                    <td class="textonormal" width="52px" align="center">{VALOR_CODIGO_REDUZIDO}</td>
                    <td class="textonormal" width="300px" align="center">{DESCRICAO}</td>
                    <td class="textonormal" width="50px" align="center">{UND}</td>
                    <td class="textonormal" width="50px" align="center">{VALOR_MARCA}</td>
                    <td class="textonormal" width="50px" align="center">{VALOR_MODELO}</td>
                    <td class="textonormal" width="55px" align="center">{QTD_ORIGINAL}
                        <input name="QtdAta[{INDEX}]" type="hidden" value="{QTD_ORIGINAL}" />
                    </td>
                    <td class="textonormal" width="50px" align="center">{VALOR_ORIGINAL}
                        <input name="original[{INDEX}]" type="hidden" value="{VALOR_ORIGINAL}" />
                    </td>
                    <td class="textonormal" width="50px" align="center">{VALOR_TOTAL_ORIGINAL}</td>
    
                    <td style="{EXIBIR_TD_QUANTIDADE}" class="textonormal" width="50px" align="center">{SALDO_QUANTIDADE_CARONA}
                        <input name="saldo[{INDEX}]" type="hidden" value="{SALDO_QUANTIDADE_CARONA}" />
                    </td>
                    <td style="{EXIBIR_TD_QUANTIDADE}" class="textonormal" width="50px" align="center">
                        <input size="12" type="text" value="{QTD_SOLICITADA}" class="dinheiro4casas" name="atual[{INDEX}]" onblur="javascript:calcularTotal('original[{INDEX}]','atual[{INDEX}]','total[{INDEX}]');" />
                    </td>
                    
                    <td style="{EXIBIR_TD_VALOR}" class="textonormal" width="50px" align="center">{SALDO_VALOR_CARONA}
                        <input name="saldoValor[{INDEX}]" type="hidden" value="{SALDO_VALOR_CARONA}" />
                    </td>                
                    <td style="{EXIBIR_TD_VALOR}" class="textonormal" width="50px" align="center">
                        <input size="12" type="text" value="{VALOR_SOLICITADO}" class="dinheiro4casas" name="atualValor[{INDEX}]" onblur="javascript:calcularTotal('QtdAta[{INDEX}]','atualValor[{INDEX}]','total[{INDEX}]');" />
                    </td>                
                    
                    <td class="textonormal" width="50px" align="center">
                        <span name="total[{INDEX}]" id="total">{VALOR_TOTAL_ATUAL}</span>
                    </td>
                </tr>
                <!-- END BLOCO_RESULTADO_ATAS -->
                <tr>
                    <td class="titulo3 itens_material menosum" colspan="13">VALOR TOTAL DA ATA</td>
                    <td align="right" class="textonormal">
                        <div id="MaterialTotal">0,0000</div>
                    </td>
                </tr>
                <tr>
                    <td align="right" colspan="14" class="textonormal">
                        {BOTAO_SALVAR}                    
                        <input type="hidden" id="documentoExcluir" name="documentoExcluir" value="" />
                        <input type="button" name="Voltar" value="Voltar" class="botao" onclick="javascript:enviar('voltar')" />
                        <input type="hidden" name="Botao" value="" />
                        <input type="hidden" name="ano" value="{ANO_SESSAO}" />
                        <input type="hidden" name="orgao" value="{ORGAO_SESSAO}" />
                        <input type="hidden" name="processo" value="{PROCESSO_SESSAO}" />
                        <input type="hidden" name="fullprocesso" value="{FULL_PROCESSO}" />
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    