<!-- 220038-- -->
<script language="javascript" src="../jquery.select-list-actions.js" type="text/javascript"></script>
<script type="text/javascript">
function enviar(valor){
	var seguirSubmit = true;

	if (valor == 'Excluir') {
		seguirSubmit = confirm('Realmente deseja excluir essa intenção?\n\nAtenção:\nEssa operação não poderá ser revertida.');
	}

	if (seguirSubmit) {
	    document.CadRegistroPrecoIntencaoManter.Botao.value = valor;
	    document.CadRegistroPrecoIntencaoManter.submit();
	}
}
function AbreJanela(url,largura,altura){
    window.open(url,'paginadetalhe','status=no,scrollbars=yes,left=90,top=150,width='+largura+',height='+altura);
}
function AbreJanelaItem(url,largura,altura){
    window.open(url,'paginaitem','status=no,scrollbars=yes,left=90,top=150,width='+largura+',height='+altura);
}
function ncaracteresO(id,idCampo,valor){
    document.getElementById(id).value = '' +  document.getElementById(idCampo).value.length;
    if( navigator.appName == 'Netscape' && valor ){ //Netscape Only
        document.getElementById(idCampo).focus();
    }
}

jQuery(document).ready(function($) {
	jQuery(".mascara-numero-intencao").mask("9999/9999");

	jQuery(".reset").click(function (event) {
		event.preventDefault();

		jQuery(":text").each(function () {
			jQuery(this).val("");
        });

		jQuery(":radio").each(function () {
        	jQuery(this).prop({ checked: false })
        });

		jQuery(":checkbox").each(function () {
        	jQuery(this).prop({ checked: false })
        });

		jQuery("select").each(function () {
			jQuery(this).val("");
        });
	});
	
	jQuery("#NCaracteresO").val(jQuery("#ObjetoIntencao").val().length);
	jQuery("#NCaracteres1").val(jQuery("#ObservacaoIntencao").val().length);

    jQuery('#btnRight').click(function(e) {
        jQuery('select').moveToListAndDelete('#sourceListId', '#destinationListId');
        e.preventDefault();
    });

    jQuery('#btnLeft').click(function(e) {
        jQuery('select').moveToListAndDelete('#destinationListId', '#sourceListId');
        e.preventDefault();
    });

    jQuery('.removerDocumento').click(function(e){
        e.preventDefault();
        jQuery('#documentoExcluir').val(jQuery(this).attr('doc'));
        jQuery('#Botao').val('RemoverDocumento');
        jQuery("#CadRegistroPrecoIntencaoManter").submit();
    });

});
</script>
<form action="" method="post" name="CadRegistroPrecoIntencaoManter" id="CadRegistroPrecoIntencaoManter" enctype="multipart/form-data">
    <table cellspacing="0" cellpadding="3" bordercolor="#75ADE6" border="1" bgcolor="#FFFFFF" width="110%" class="textonormal" summary="">
        <tbody>
            <tr>
                <td bgcolor="#75ADE6" valign="middle" align="center" colspan="4" class="titulo3">MANTER – INTENÇÃO DE REGISTRO DE PREÇOS</td>
            </tr>
            <tr>
                <td colspan="4" class="textonormal">
                    <p align="justify">
                    Preencha os dados abaixo e clique no botão ‘Salvar'. Os itens obrigatórios estão com *. <br/>
                    Pode-se excluir ou ativar/inativar as intenções já cadastradas.
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table border="0" width="100%" summary="">
                        <tbody>
                            <tr>
                                <td class="textonormal" bgcolor="#DCEDF7" width="30%">Número da intenção</td>
                                <td class="textonormal">
                                    {VALOR_NUMERO_INTENCAO}
                                    <input type="hidden" name="NumeroIntencao" size="10" maxlength="9" value="{VALOR_NUMERO_INTENCAO}" class="textonormal mascara-numero-intencao"/>
                                </td>
                            </tr>

                            <tr>
                                <td class="textonormal" bgcolor="#DCEDF7" width="30%">Data de cadastramento</td>
                                <td class="textonormal">
                                    {VALOR_DATA_CADASTRAMENTO_INTENCAO}
                                </td>
                            </tr>

                            <tr>
                                <td class="textonormal" bgcolor="#DCEDF7" width="30%">Data limite *</td>
                                <td class="textonormal">
                                    <span>
                                        <input type="text" name="DataLimite" size="10" maxlength="10" value="{VALOR_DATA_LIMITE_INTENCAO}" class="textonormal">
                                        <a href="javascript:janela('../calendario.php?Formulario=CadRegistroPrecoIntencaoManter&Campo=DataLimite','Calendario',220,170,1,0)">
                                            <img src="../midia/calendario.gif" border="0" alt=""></a>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td class="textonormal" bgcolor="#DCEDF7" width="30%">Objeto *</td>
                                <td class="textonormal">
                                	<font class="textonormal">máximo de {VALOR_TAMANHO_MAX_OBJETO} caracteres</font>
        							<input type="text" name="NCaracteresO" id="NCaracteresO" size="3" value="{VALOR_NCARACATERES0}" OnFocus="javascript:document.CadRegistroPrecoIntencaoManter.Objeto.focus();" class="textonormal">
        							<br>
        							<textarea  
        									id="ObjetoIntencao" name="ObjetoIntencao" cols="62" rows="5" maxlength="{VALOR_TAMANHO_MAX_OBJETO}" class="textonormal"
        									OnKeyUp="javascript:ncaracteresO('NCaracteresO','ObjetoIntencao',1)" 
        									OnBlur="javascript:ncaracteresO('NCaracteresO','ObjetoIntencao',0)" 
        									OnSelect="javascript:ncaracteresO('NCaracteresO','ObjetoIntencao',1)">{VALOR_OBJETO_INTENCAO}</textarea>
        						</td>
                            </tr>

                            <tr>
                                <td class="textonormal" bgcolor="#DCEDF7" >Órgãos *</td>
                                <td class="textonormal" >
                                    <div style="float:left; display:block; margin-top:5px">
                                        <label style="float:left">Órgãos ainda não selecionados</label>   
                                        <select id="sourceListId" multiple name="Orgaos_1[]" class="textonormal" size="10" style="width: 235px; float: left; clear:both">
                                            <!-- BEGIN BLOCO_ITEM_ORGAO_ -->
                                            <option value="{VALOR_ITEM_ORGAO}">{ITEM_ORGAO}</option>
                                            <!-- END BLOCO_ITEM_ORGAO_ -->
                                        </select>
                                    </div>
                                    <div style="float: left; display:block; height:100%; margin: 0 20px">
                                        <br /> <br /> <br /> <br />
                                        <input type='button' id='btnRight' value='>' class="btn btn-default" />
                                        <br /> <br />
                                        <input type='button' id='btnLeft' value='<' class="btn btn-default" />
                                        <br /> <br /> <br /> <br />
                                    </div>
                                    <div style="float:left; display:block; margin-top:5px">
                                        <label style="float:left">Órgãos selecionados</label>   
                                        <select id="destinationListId" multiple name="Orgaos[]" class="textonormal" size="10" style="width: 235px; float: left; clear:both">
                                            <!-- BEGIN BLOCO_ITEM_ORGAO -->
                                            <option value="{VALOR_ITEM_ORGAO}" {ITEM_ORGAO_SELECIONADO}>{ITEM_ORGAO}</option>
                                            <!-- END BLOCO_ITEM_ORGAO -->
                                        </select>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="textonormal" bgcolor="#DCEDF7">Observação</td>
                                <td class="textonormal"> <font class="textonormal">máximo de 200 caracteres</font>
                                    <input type="text" id="NCaracteres1" name="NCaracteres1" size="3" value="{VALOR_NCARACATERES0}" OnFocus="javascript:document.CadRegistroPrecoIntencaoManter.ObservacaoIntencao.focus();" class="textonormal">
                                    <br>
                                    <textarea id="ObservacaoIntencao" name="ObservacaoIntencao" maxlength="200" cols="62" rows="5" OnKeyUp="javascript:ncaracteresO('NCaracteres1','ObservacaoIntencao',1)" OnBlur="javascript:ncaracteresO('NCaracteres1','ObservacaoIntencao',0)" OnSelect="javascript:ncaracteresO('NCaracteres1','ObservacaoIntencao',1)" class="textonormal">{VALOR_OBSERVACAO_INTENCAO}</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="textonormal" bgcolor="#DCEDF7" width="40%"
                                    align="left">Documento(s)*</td>
                                <td class="textonormal">



                                    <input type="file" name="fileArquivo" value="{VALOR_DOCUMENTO}" />
                                    <input type="submit" name="inserir" value="Incluir" class="botao" onclick="javascript:enviar('InserirDocumento')" />


                                    <!-- BEGIN BLOCO_FILE -->
                                    <ul>{VALOR_DOCUMENTOS_ATA}</ul>
                                    <!-- END BLOCO_FILE -->

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table bordercolor="#75ADE6" border="1" bgcolor="#bfdaf2" width="100%" summary="">
                                        <tbody>
                                            <tr>
                                                <td align="center" bgcolor="#75ADE6" valign="middle" class="titulo3" colspan="9">
                                                    ITENS DA INTENÇÃO
                                                </td>
                                            </tr>
                                            <!-- BEGIN BLOCO_HEADER_LISTAGEM_ITEM -->
                                            <tr>
                                                <td class="textoabason" bgcolor="#DCEDF7" align="center">ORDEM</td>
                                                <td class="textoabason" bgcolor="#DCEDF7" align="center">DESCRIÇÃO DO MATERIAL/SERVIÇOS</td>
                                                <td class="textoabason" bgcolor="#DCEDF7" align="center">DESCRIÇÃO DETALHADA</td>
                                                <td class="textoabason" bgcolor="#DCEDF7" align="center">TIPO</td>
                                                <td class="textoabason" bgcolor="#DCEDF7" align="center">CÓD.RED.</td>
                                                <td class="textoabason" bgcolor="#DCEDF7" align="center">VALOR ESTIMADO TRP</td>
                                                <td class="textoabason" bgcolor="#DCEDF7" align="center">VALOR UNITÁRIO ESTIMADO</td>
                                            </tr>
                                            <!-- END BLOCO_HEADER_LISTAGEM_ITEM -->

                                            <!-- BEGIN BLOCO_LISTAGEM_ITEM -->
                                            <tr>
                                                <td class="textonormal" align="center">
                                                    {VALOR_ITEM}
                                                    <input type="hidden" name="Item[]" value="{VALOR_ITEM}" />
                                                    <input type="hidden" name="Material[]" value="{VALOR_MATERIAL}" />
                                                </td>
                                                <td class="textonormal" align="left">
                                                    <input type="checkbox" name="CheckItem[]" value="{VALOR_ITEM}">
                                                    <a href="javascript:AbreJanela('../estoques/CadItemDetalhe.php?ProgramaOrigem=CadRegistroPrecoIntencaoManter&Material={VALOR_CODIGO_REDUZIDO}',700,370);">
                                                        <font color="#000000">
                                                            {VALOR_DESCRICAO}
                                                        </font>
                                                    </a>
                                                    <input type="hidden" name="Descricao[]" value="{VALOR_DESCRICAO}" />
                                                </td>
                                                <td class="textonormal" align="center">
                                                    <!-- BEGIN BLOCO_TEXTAREA_DESCRICAO_DETALHADA -->
                                                    <textarea name="DescricaoDetalhada[]">{VALOR_DESCRICAO_DETALHADA}</textarea>
                                                    <!-- END BLOCO_TEXTAREA_DESCRICAO_DETALHADA -->
                                                    <!-- BEGIN BLOCO_SEM_DESCRICAO_DETALHADA -->
                                                    {VALOR_DESCRICAO_DETALHADA}
                                                    <input type="hidden" name="DescricaoDetalhada[]" value="" />
                                                    <!-- END BLOCO_SEM_DESCRICAO_DETALHADA -->
                                                </td>
                                                <td class="textonormal" align="center">
                                                    {VALOR_TIPO}
                                                    <input type="hidden" name="Tipo[]" value="{VALOR_TIPO}">
                                                </td>
                                                <td class="textonormal" align="center">
                                                    {VALOR_CODIGO_REDUZIDO}
                                                    <input type="hidden" name="CodigoReduzido[]" value="{VALOR_CODIGO_REDUZIDO}">
                                                </td>
                                                <td class="textonormal" align="center">
                                                    {VALOR_ESTIMADO_TRP}
                                                    <input type="hidden" name="ValorEstimadoTRP[]" value="{VALOR_ESTIMADO_TRP}">
                                                </td>
                                                <td class="textonormal" align="center">
                                                    <input type="text" maxlength="17" size="18" class="dinheiro4casas" name="ValorUnitarioEstimado[]" value="{VALOR_UNITARIO_ESTIMADO}">
                                                </td>
                                            </tr>
                                            <!-- END BLOCO_LISTAGEM_ITEM -->
						
                                            <tr>
                                                <td class="textonormal" colspan="9" align="center">
                                                    <input type="button" name="IncluirItem" value="Incluir Item" class="botao" onclick="javascript:AbreJanelaItem('../estoques/CadIncluirItem.php?ProgramaOrigem=CadRegistroPrecoIntencaoManter&PesqApenas=C',700,350);" />
                                                    <!-- BEGIN BLOCO_BOTAO_RETIRAR_ITEM -->
                                                    <input type="button" name="Retirar" value="Retirar Item" class="botao" onClick="javascript:enviar('Retirar');" />
                                                    <!-- END BLOCO_BOTAO_RETIRAR_ITEM -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="right" colspan="4" class="textonormal">
                    <input type="hidden" name="InicioPrograma" value="1" />
                    <input type="button" name="Alterar" value="Salvar" class="botao" onClick="javascript:enviar('Alterar');" />
                    <input type="button" name="Excluir" value="Excluir" class="botao" onClick="javascript:enviar('Excluir');" />
    
                    <!-- BEGIN BLOCO_BOTAO_ATIVAR -->
                    <input type="button" name="AlterarSituacao" value="Ativar" class="botao" onClick="javascript:enviar('AlterarSituacao');" />
                    <!-- END BLOCO_BOTAO_ATIVAR -->
    
                    <!-- BEGIN BLOCO_BOTAO_INATIVAR -->
                    <input type="button" name="AlterarSituacao" value="Inativar" class="botao" onClick="javascript:enviar('AlterarSituacao');" />
                    <!-- END BLOCO_BOTAO_INATIVAR -->
    
                    <input type="button" name="Voltar" value="Voltar" class="botao" onClick="javascript:enviar('Voltar');" />
                    <input type="hidden" id="Botao" name="Botao" value="{VALOR_BOTAO}" />
                    <input type="hidden" name="NumeroIntencaoAcessada" value="{VALOR_NUMERO_INTENCAO}" />
                    <input type="hidden" name="SituacaoAtualIntencao" value="{VALOR_SITUACAO_ATUAL_INTENCAO}" />
                    <input type="hidden" id="documentoExcluir" name="documentoExcluir" value="" />
                </td>
            </tr>
        </tbody>
    </table>
</form>
