<!-- 220038-- -->
<html>
    <head>
        <title>Portal Compras - Acompanhar Intenção de Registro de Preço</title>
        <link rel="stylesheet" type="text/css" href="../estilo.css">
        <script language="javascript" src="../import/jquery/jquery.js" type="text/javascript"></script>
        <script language="javascript" src="../import/jquery/jquery.maskmoney.js" type="text/javascript"></script>
        <script language="javascript" src="../import/jquery/jquery.maskedinput.js" type="text/javascript"></script>
        <script language="javascript" src="../funcoes.js" type="text/javascript"></script>
        <script type="text/javascript">
            function enviar(valor){
                    document.querySelector('form').submit();
            }
            function clean_hex(input) {
                input = input.toUpperCase();
                input = input.replace(/[^A-Fa-f0-9]/g, "");

                return input;
            }

            function Convert(id, nomePdf) {
                var binValue    = $('#'+id).val();
                var filename    = nomePdf;
                var cleaned_hex = clean_hex(binValue);

                var ia = new Array();


                for (var i=0; i<cleaned_hex.length/2; i++) {
                    var h = cleaned_hex.substr(i*2, 2);
                    ia[i] = parseInt(h,16);
                }

                var byteArray = new Uint8Array(ia);

                // create a download anchor tag
                var downloadLink      = document.createElement('a');
                downloadLink.target   = '_blank';
                downloadLink.download = nomePdf;

                // convert downloaded data to a Blob
                var blob = new Blob([byteArray], { type: 'application/pdf' });

                // create an object URL from the Blob
                var URL = window.URL || window.webkitURL;
                var downloadUrl = URL.createObjectURL(blob);

                // set object URL as the anchor's href
                downloadLink.href = downloadUrl;

                // append the anchor to document body
                document.body.appendChild(downloadLink);

                // fire a click event on the anchor
                downloadLink.click();

                // cleanup: remove element and revoke object URL
                document.body.removeChild(downloadLink);
                URL.revokeObjectURL(downloadUrl);
            }

            $(document).ready(function() {
                $('a').click(function() {
                    var nomePdf   = $(this).html().replace(/\<br>/g, '');
                    var nomeClass = $(this).prop('class');
                    Convert(nomeClass, nomePdf);
                });
            });
        </script>
    </head>
    <body background="../midia/bg.jpg" marginwidth="0" marginheight="0">
        <form action="CadRegistroPrecoIntencaoVisualizar.php" method="post" name="CadRegistroPrecoIntencaoVisualizar" id="CadRegistroPrecoIntencaoVisualizar" >
            <table cellspacing="0" cellpadding="3" bordercolor="#75ADE6" border="1" bgcolor="#FFFFFF" width="100%" class="textonormal" >
                <tbody>
                    <tr>
                        <td bgcolor="#75ADE6" valign="middle" align="center" colspan="4" class="titulo3">VISUALIZAR – INTENÇÃO DE REGISTRO DE PREÇOS</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table border="0"  width="100%" class="textonormal" >
                                <tbody>
                                    <tr>
                                        <td class="textonormal" bgcolor="#DCEDF7" width="30%">Número da intenção</td>
                                        <td class="textonormal">
                                            {VALOR_NUMERO_INTENCAO}
                                            <input type="hidden" name="numero" size="10" maxlength="9" value="{VALOR_NUMERO_INTENCAO}" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="textonormal" bgcolor="#DCEDF7" width="30%">Data de cadastramento</td>
                                        <td class="textonormal">
                                            {VALOR_DATA_CADASTRAMENTO_INTENCAO}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="textonormal" bgcolor="#DCEDF7" width="30%">Data limite</td>
                                        <td class="textonormal">
                                            {VALOR_DATA_LIMITE_INTENCAO}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="textonormal" bgcolor="#DCEDF7" width="30%">Objeto</td>
                                        <td class="textonormal">
                                            {VALOR_OBJETO_INTENCAO}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="textonormal" bgcolor="#DCEDF7" >Orgãos</td>
                                        <td class="textonormal" >
                                            {ORGAOS}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="textonormal" bgcolor="#DCEDF7">Observação</td>
                                        <td class="textonormal">
                                            {VALOR_OBSERVACAO_INTENCAO}
                                        </td>
                                    </tr>
                                    <!-- BEGIN BLOCO_DOCUMENTOS -->
                                    <tr>
                                        <td class="textonormal" bgcolor="#DCEDF7" width="30%">Documentos</td>
                                        <td class="textonormal" colspan="7">
                                            <ul>
                                                <!-- BEGIN BLOCO_DOCUMENTO -->
                                                <li>
                                                    <input type="hidden" value="{HEX_DOCUMENTO}" id="{VALOR_DOCUMENTO_KEY}">
                                                    <a href="#" class="{VALOR_DOCUMENTO_KEY}">{VALOR_DOCUMENTO_NOME}</a><br>
                                                </li>
                                                <!-- END BLOCO_DOCUMENTO -->
                                            </ul>
                                        </td>
                                    </tr>
                                    <!-- END BLOCO_DOCUMENTOS -->
                                    <tr>
                                        <td colspan="2">
                                            <table bordercolor="#75ADE6" border="1" bgcolor="#bfdaf2" width="100%" summary="">
                                                <tbody>
                                                    <tr>
                                                        <td align="center" bgcolor="#75ADE6" valign="middle" class="titulo3" colspan="9">
                                                            ITENS DA INTENÇÃO
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="textoabason" bgcolor="#DCEDF7" align="center">ORDEM</td>
                                                        <td class="textoabason" bgcolor="#DCEDF7" align="center">DESCRIÇÃO DO MATERIAL/SERVIÇOS</td>
                                                        <td class="textoabason" bgcolor="#DCEDF7" align="center">DESCRIÇÃO DETALHADA</td>
                                                        <td class="textoabason" bgcolor="#DCEDF7" align="center">TIPO</td>
                                                        <td class="textoabason" bgcolor="#DCEDF7" align="center">CÓD.RED.</td>
                                                        <td class="textoabason" bgcolor="#DCEDF7" align="center">VALOR ESTIMADO TRP</td>
                                                        <td class="textoabason" bgcolor="#DCEDF7" align="center">VALOR UNITÁRIO ESTIMADO</td>
                                                    </tr>
                                                    <!-- BEGIN BLOCO_LISTAGEM_ITEM -->
                                                    <tr>
                                                        <td class="textonormal" align="center">{VALOR_ITEM}</td>
                                                        <td class="textonormal" align="left">{VALOR_DESCRICAO}</td>
                                                        <td class="textonormal" align="center">{VALOR_DESCRICAO_DETALHADA}</td>
                                                        <td class="textonormal" align="center">{VALOR_TIPO}</td>
                                                        <td class="textonormal" align="center">{VALOR_CODIGO_REDUZIDO}</td>
                                                        <td class="textonormal" align="center">{VALOR_ESTIMADO_TRP}</td>
                                                        <td class="textonormal" align="center">{VALOR_UNITARIO_ESTIMADO}</td>
                                                    </tr>
                                                    <!-- END BLOCO_LISTAGEM_ITEM -->
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" colspan="4" class="textonormal">
                            <input type="button" name="Imprimir" value="Imprimir" class="botao" onClick="javascript:enviar('Imprimir');" />
                            <input type="button" name="Voltar" value="Voltar" class="botao" onclick="javascript:self.close();" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </body>
</html>