<!-- 220038-- -->
<form action="CadRegistroPrecoIntencaoIncluir.php" method="post" name="CadRegistroPrecoIntencaoIncluir" id="CadRegistroPrecoIntencaoIncluir" enctype="multipart/form-data">
    <table cellspacing="0" cellpadding="3" bordercolor="#75ADE6" border="1" bgcolor="#FFFFFF" width="100%" class="textonormal" summary="">
        <tbody>
            <tr>
                <td bgcolor="#75ADE6" valign="middle" align="center" colspan="4" class="titulo3">INCLUIR – INTENÇÃO DE REGISTRO DE PREÇOS</td>
            </tr>
            <tr>
                <td colspan="4" class="textonormal">
                    <p align="justify">
                        Informe os dados abaixo e clique no botão ‘Salvar’ para incluir uma nova Intenção de Registro de Preços.
                        <br />
                        Os itens obrigatórios estão com *.
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <table border="0" width="100%" summary="">
                        <tbody>
                            <tr>
                                <td class="textonormal" bgcolor="#DCEDF7" width="30%">Data Limite*</td>
                                <td class="textonormal">
                                    <input type="text" name="DataLimite" id="DataLimite" size="10" maxlength="10" value="{VALOR_DATA_LIMITE}" class="textonormal">
                                    <a href="javascript:janela('../calendario.php?Formulario=CadRegistroPrecoIntencaoIncluir&Campo=DataLimite','Calendario',220,170,1,0)">
                                        <img src="../midia/calendario.gif" border="0" alt=""></a> <font class="textonormal">dd/mm/aaaa</font>
                                </td>
                            </tr>
                            <tr>
                                <td class="textonormal" bgcolor="#DCEDF7" width="30%">Objeto*</td>
                                <td class="textonormal"><font class="textonormal">máximo de {VALOR_TAMANHO_MAX_OBJETO} caracteres</font>
                                    <input type="text" name="NCaracteresO" id="NCaracteresO" size="3" value="{VALOR_NCARACATERES0}" OnFocus="javascript:document.CadRegistroPrecoIntencaoIncluir.Objeto.focus();" class="textonormal">
                                    <br>
                                    <textarea type="text" id="Objeto" name="Objeto" maxlength="{VALOR_TAMANHO_MAX_OBJETO}" class="textonormal" cols="62" rows="5"
                                    		OnKeyUp="javascript:ncaracteresO('NCaracteresO','Objeto',1)"
                                    		OnBlur="javascript:ncaracteresO('NCaracteresO','Objeto',0)"
                                    		OnSelect="javascript:ncaracteresO('NCaracteresO','Objeto',1)">{VALOR_OBJETO}</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="textonormal" bgcolor="#DCEDF7">Órgãos*</td>
                                <td class="textonormal">
                                    <select multiple name="Orgaos[]" id="Orgaos" class="textonormal" size="10"  style="width: 470px;">
                                        <!-- BEGIN BLOCO_ITEM_ORGAO -->
                                        <option value="{VALOR_ITEM_ORGAO}" {ITEM_ORGAO_SELECIONADO}>{ITEM_ORGAO}</option>
                                        <!-- END BLOCO_ITEM_ORGAO -->
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="textonormal" bgcolor="#DCEDF7" >Observação</td>
                                <td class="textonormal"> <font class="textonormal" >máximo de 200 caracteres</font>
                                    <input type="text" name="NCaracteres1" id="NCaracteres1" size="3" value="{VALOR_NCARACATERES1}" OnFocus="javascript:document.CadRegistroPrecoIntencaoIncluir.Observacao.focus();" class="textonormal">
                                    <br>
                                    <textarea name="Observacao" id="Observacao" cols="62" rows="5" maxlength="200"
                                    		OnKeyUp="javascript:ncaracteresO('NCaracteres1','Observacao',1)"
                                    		OnBlur="javascript:ncaracteresO('NCaracteres1','Observacao',0)"
                                    		OnSelect="javascript:ncaracteresO('NCaracteres1','Observacao',1)"
                                    		class="textonormal">{VALOR_OBSERVACAO}</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="textonormal" bgcolor="#DCEDF7" width="40%">Documento(s) *</td>
                                <td class="textonormal">
                                    <!-- <input type="file" name="Documentos[]" id="Documentos[]" size="30" maxlength="30" value="{VALOR_DOCUMENTOS}" class="textonormal" /> -->

                                    <!-- BEGIN BLOCO_FILE -->
                                    <input type="file" accept="application/pdf" name="fileArquivo" value="{VALOR_DOCUMENTO}" />
                                    <input type="button" name="inserir" value="Incluir" class="botao" onclick="javascript:enviar('InserirDocumento')" />
                                    <!-- END BLOCO_FILE -->

                                    <ul>
                                        <!-- BEGIN BLOCO_DOCUMENTO -->
                                        <li>
                                            {NOME_DOCUMENTO}
                                            <input type="button" name="remover[]" value="Remover" class="botao removerDocumento"  doc="{ID_DOCUMENTO}"/>
                                        </li>
                                        <!-- END BLOCO_DOCUMENTO -->
                                    </ul>

                                </td>
                            </tr>
                            <tr>
                                <td class="textonormal" colspan="9">
                                    <table border="1" cellpadding="3" cellspacing="0" bgcolor="#bfdaf2" bordercolor="#75ADE6" width="100%" summary=""
                                           style="text-align: justify;">
                                        <tr>
                                            <td align="center" bgcolor="#75ADE6" valign="middle" class="titulo3" colspan="9">
                                                ITENS DA INTENÇÃO
                                            </td>
                                        </tr>
                                        <!-- BEGIN BLOCO_HEADER_LISTAGEM_ITEM -->
                                        <tr>
                                            <td class="textoabason" bgcolor="#DCEDF7" width="5%" align="center">ORDEM</td>
                                            <td class="textoabason" bgcolor="#DCEDF7" width="28%" align="center">DESCRIÇÃO DO MATERIAL/SERVIÇOS</td>
                                            <td class="textoabason" bgcolor="#DCEDF7" width="27%" align="center">DESCRIÇÃO DETALHADA</td>
                                            <td class="textoabason" bgcolor="#DCEDF7" width="5%" align="center">TIPO</td>
                                            <td class="textoabason" bgcolor="#DCEDF7" width="5%" align="center">CÓD.RED.</td>
                                            <td class="textoabason" bgcolor="#DCEDF7" width="10%" align="center">VALOR ESTIMADO TRP</td>
                                            <td class="textoabason" bgcolor="#DCEDF7" width="10%" align="center">VALOR UNITÁRIO ESTIMADO</td>
                                        </tr>
                                         <!-- END BLOCO_HEADER_LISTAGEM_ITEM -->
                                        <!-- BEGIN BLOCO_LISTAGEM_ITEM -->
                                        <tr>
                                            <td class="textonormal" align="center" width="5%">
                                            	{VALOR_ITEM}
                                                <input type="hidden" name="Item[]" value="{VALOR_ITEM}" />
                                                <input type="hidden" name="Material[]" value="{VALOR_MATERIAL}" />
                                            </td>
                                            <td class="textonormal" width="28%">
                                                <input type="checkbox" name="CheckItem[]" value="{VALOR_ITEM}">
                                                <a href="javascript:AbreJanela('../estoques/CadItemDetalhe.php?ProgramaOrigem=CadRegistroPrecoIntencaoIncluir&Material={VALOR_MATERIAL}',700,370);">
                                                    <font color="#000000">
                                                        {VALOR_DESCRICAO}
                                                    </font>
                                                </a>
                                                <input type="hidden" name="Descricao[]" value="{VALOR_DESCRICAO}" />
                                            </td>
                                            <td class="textonormal" width="27%" align="center">
                                                <!-- BEGIN BLOCO_TEXTAREA_DESCRICAO_DETALHADA -->
                                                <textarea style="width:100%;height:100%;" name="DescricaoDetalhada[]">{VALOR_DESCRICAO_DETALHADA}</textarea>
                                                <!-- END BLOCO_TEXTAREA_DESCRICAO_DETALHADA -->
                                                <!-- BEGIN BLOCO_SEM_DESCRICAO_DETALHADA -->
                                                {VALOR_DESCRICAO_DETALHADA}
                                                <input type="hidden" name="DescricaoDetalhada[]" value="{VALOR_DESCRICAO_DETALHADA}" />
                                                <!-- END BLOCO_SEM_DESCRICAO_DETALHADA -->
                                            </td>
                                            <td class="textonormal" width="5%" align="center">
                                                {VALOR_TIPO}
                                                <input type="hidden" name="Tipo[]" value="{VALOR_TIPO}" />
                                            </td>
                                            <td class="textonormal" width="5%" align="center">
                                                {VALOR_CODIGO_REDUZIDO}
                                                <input type="hidden" name="CodigoReduzido[]" value="{VALOR_CODIGO_REDUZIDO}" />
                                            </td>
                                            <td class="textonormal" width="5%" align="center">
                                                {VALOR_ESTIMADO_TRP}
                                                <input type="hidden"  class="dinheiro4casas" name="ValorEstimadoTRP[]" value="{VALOR_ESTIMADO_TRP}" />
                                            </td>
                                            <td class="textonormal" width="5%" align="center">
                                                <input type="text"  class="dinheiro4casas" name="ValorUnitarioEstimado[]" value="{VALOR_UNITARIO_ESTIMADO}" maxlength="20" />
                                            </td>
                                        </tr>
                                        <!-- END BLOCO_LISTAGEM_ITEM -->
                                        <tr>
                                            <td class="textonormal" colspan="9" align="center">
                                                <input type="button" id="btnIncluirItem" name="IncluirItem" value="Incluir Item" class="botao" />
                                                <input type="button" id="btnRetirarItem" name="Retirar" value="Retirar Item" class="botao"  />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="right" colspan="4" class="textonormal">
                    <input type="button" id="btnIncluir" name="Incluir" value="Salvar" class="botao" />
                    <input type="hidden" name="Botao" value="" />
                    <input type="hidden" id="documentoExcluir" name="documentoExcluir" value="" />
                </td>
            </tr>
        </tbody>
    </table>
</form>

<script type="text/javascript">
<!--
function enviar(valor){
    document.CadRegistroPrecoIntencaoIncluir.Botao.value = valor;
    document.CadRegistroPrecoIntencaoIncluir.submit();
}
function AbreJanela(url,largura,altura){
    window.open(url,'paginadetalhe','status=no,scrollbars=yes,left=90,top=150,width='+largura+',height='+altura);
}
function AbreJanelaItem(url,largura,altura){
    window.open(url,'paginaitem','status=no,scrollbars=yes,left=90,top=150,width='+largura+',height='+altura);
}
function ncaracteresO(id,idCampo,valor){
    document.getElementById(id).value = '' +  document.getElementById(idCampo).value.length;
}
$(document).ready(function(){
    $('#btnIncluirItem').click(function(){
        AbreJanelaItem('../estoques/CadIncluirItem.php?ProgramaOrigem=CadRegistroPrecoIntencaoIncluir&PesqApenas=C',700,350);
    });

    $('#btnRetirarItem').click(function () {
        enviar('RetirarItem');
    });

    $("#btnIncluir").click(function(){
        enviar('Incluir');
    });

    // Remover documento
    $('.removerDocumento').click(function(e){
        e.preventDefault();
        $('#documentoExcluir').val($(this).attr('doc'));
        //$('#Botao').val('Remover');
        enviar('Remover')
        //$("#CadRegistroPrecoIntencaoIncluir").submit();
    });
});

//-->
</script>
