<!--
    Alterado: Lucas Baracho
    Data:     29/05/2019
    Objetivo: Tarefa Redmine 216712
-->
<!-- 220038-- -->
<script type="text/javascript">
function enviar(valor){
    document.{NOME_PROGRAMA}.Botao.value = valor;    
    document.{NOME_PROGRAMA}.submit();
}

function AbreJanela(url,largura,altura){
    window.open(url,'paginadetalhe','status=no,scrollbars=yes,left=90,top=150,width='+largura+',height='+altura);
}
function AbreJanelaItem(url,largura,altura){
    window.open(url,'paginaitem','status=no,scrollbars=yes,left=90,top=150,width='+largura+',height='+altura);
}
jQuery(document).ready(function($) {
    jQuery(".reset").click(function (event) {
        event.preventDefault();

        jQuery(":text").each(function () {
            jQuery(this).val("");
        });

        jQuery(":password").each(function () {
            jQuery(this).val("");
        });

        jQuery(":checkbox").each(function () {
            jQuery(this).prop({ checked: false });
        });

        jQuery("select").each(function () {
            jQuery(this).val("");
        });
    });
});       
</script>
<form action="{NOME_PROGRAMA}.php" method="post" name="{NOME_PROGRAMA}">
	<table border="1" cellpadding="3" cellspacing="0" bordercolor="#75ADE6"
		summary="" class="textonormal" bgcolor="#FFFFFF" style="width: 700px;">
       <tr>
			<td align="center" bgcolor="#75ADE6" valign="middle" class="titulo3" colspan="11">
                <b>{TITULO_SUPERIOR}</b>
            </td>
       </tr>
       <tr>
			<td colspan="12">
				<table border="0" width="100%" summary="">					
                    <tr>
                      <td colspan="12">
                        <table  cellspacing="1" summary="" class="textonormal" bgcolor="#FFFFFF" style="border-collapse: collapse; ">
                            <tr style="border-bottom:3px solid white;">
                                <td class="textonormal" bgcolor="#DCEDF7" width="30%" style="padding: 5px;">Nº da Ata</td>
                                <td class="textonormal" colspan="6" style="padding-left: 5px;">{NUMEROATA}</td>
                            </tr> 
                            <tr style="border-bottom:3px solid white;">
                                <td class="textonormal"  bgcolor="#DCEDF7" width="30%" style="padding: 5px;">Lote</td>
                                <td class="textonormal" style="padding: 5px;">{LOTE}</td>
                            </tr>
                            <tr style="border-bottom:3px solid white;">
                                <td class="textonormal"  bgcolor="#DCEDF7" width="30%" style="padding: 5px;">Ordem do Item</td>
                                <td class="textonormal" style="padding: 5px;">{ORDEM}</td>
                            </tr> 
                            <tr style="border-bottom:3px solid white;">
                                <td class="textonormal" bgcolor="#DCEDF7" width="30%" style="padding: 5px;">{TIPOMATERIAL}</td>
                                <td class="textonormal" style="padding: 5px;" >{TIPOMATERIALVALUE}</td>
                            </tr> 
                            <tr style="border-bottom:3px solid white;">
                                <td class="textonormal" bgcolor="#DCEDF7" width="30%" style="padding: 5px;">Descrição</td>
                                <td class="textonormal" style="padding: 5px;">{DESCRICAO}</td>
                            </tr> 
                            <tr style="border-bottom:3px solid white;{HIDDEDESCRICAODETALHADA}">
                                <td class="textonormal" bgcolor="#DCEDF7" width="30%" style="padding: 5px;">Descrição Detalhada</td>
                                <td class="textonormal" style="padding: 5px;">{DESCRICAODETALHADA}</td>
                            </tr> 
                            <tr style="border-bottom:3px solid white; {DISPLAY_QUANTIDADE}">
                                <td class="textonormal" bgcolor="#DCEDF7" width="30%" style="padding: 5px;">Quantidade</td>
                                <td class="textonormal" style="padding: 5px;">{QUANTIDADE}</td>
                            </tr> 
                            <tr style="border-bottom:3px solid white;{EXIBIR_VALOR_ATA_ANTERIOR} {DISPLAY_QUANTIDADE}">
                                <td class="textonormal" bgcolor="#DCEDF7" width="30%" style="padding: 5px;">Quantidade Utilizada - Ata Anterior</td>
                                <td class="textonormal" style="padding-left: 5px;">{VALOR_ATA_ANTERIOR}</td>
                            </tr> 
                            <tr style="border-bottom:3px solid white; {DISPLAY_QUANTIDADE}">
                                <td class="textonormal" bgcolor="#DCEDF7" width="30%" style="padding: 5px;">{LABEL_QTD_UTLIZADA}</td>
                                <td class="textonormal" style="padding: 5px;">{QTDGESTORPARTICIPANTE}</td>
                            </tr> 
                            <tr style="border-bottom:3px solid white; style="{DISPLAY_QUANTIDADE}">
                                <td class="textonormal" bgcolor="#DCEDF7" width="30%" style="padding: 5px;">{LABEL_SALDO}</td>
                                <td class="textonormal" style="padding: 5px;">{SALDOGESTORPARTICIPANTE}</td>
                            </tr>
                            <tr style="border-bottom:3px solid white; {DISPLAY_VALOR}">
                                <td class="textonormal" bgcolor="#DCEDF7" width="30%" style="padding: 5px;">Valor</td>
                                <td class="textonormal" style="padding: 5px;">{VALOR}</td>
                            </tr>
                            <tr style="border-bottom:3px solid white; {DISPLAY_VALOR}">
                                <td class="textonormal" bgcolor="#DCEDF7" width="30%" style="padding: 5px;">Valor Máximo Carona</td>
                                <td class="textonormal" style="padding: 5px;">{VALOR_MAXIMO}</td>
                            </tr>
                            <tr style="{DISPLAY_VALOR}">
                                <td class="textonormal" bgcolor="#DCEDF7" width="30%" style="padding: 5px;">Total Valor Utilizada</td>
                                <td class="textonormal" style="padding: 5px;">{VALOR_TOTAL}</td>
                            </tr>
                            <tr style="border-bottom:3px solid white;">
                                <td class="textonormal" bgcolor="#DCEDF7" width="30%" style="padding: 5px;">Saldo Geral para Caronas</td>
                                <td class="textonormal" style="padding: 5px;">{SALDO_GERAL_CARONAS}</td>
                            </tr>
                        </table>  
                      </td>
                    </tr>
                    <tr {FLAG_EXIBIR}>
                        <td align="center" bgcolor="#75ADE6" valign="middle" class="titulo3" colspan="11">
                            <b>CARONA INTERNA</b>
                        </td>
                    </tr>


                    <!-- BEGIN bloco_orgao_interna -->
                    <tr>
                        <td>
                            <table  border="1" cellpadding="3" cellspacing="0" bordercolor="#75ADE6" summary="" class="textonormal" bgcolor="#FFFFFF" style="width: 700px;">
                                <thead>
                                <tr>
                                    <th align="left" bgcolor="#75ADE6" valign="middle" class="titulo3" colspan="3">
                                        {ORGAO}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- BEGIN bloco_tr_resultado_orgao -->
                                <tr bgcolor="#DCEDF7" style="{EXIBIR_SCC}">
                                    <td width="55%">Nº da SCC</td>
                                    <td width="15%">DATA SCC</td>
                                    <td width="30%">{TEXTO_SCC}</td>
                                </tr>
                                <!-- END bloco_tr_resultado_orgao -->

                                <!-- BEGIN bloco_resultado_orgao -->
                                <tr>
                                    <td><a href='../compras/ConsAcompSolicitacaoCompra.php?SeqSolicitacao={IDSOLIC}&ProgramaOrigem={NOME_PROGRAMA}-{ATA}-{ATATIPO}-{ORGAOURL}-{ITEM}-{TIPOITEM}-{SEQITEM}&ata={ATA}&tipo={TIPO}&orgao={ORGAO}&item={ITEM}&tipoItem={TIPOITEM}'>{NUMEROSCC}</a></td>
                                    <td>{DATASCC}</td>
                                    <td>{QTDUTILIZADA}</td>
                                </tr>
                                <!-- END bloco_resultado_orgao -->

                                <!-- BEGIN bloco_resultado_qtd_utilizado -->
                                <tr>
                                    <td colspan="3">{RESULTADO_QTD_UTILIZADA}</td>
                                </tr>
                                <!-- END bloco_resultado_qtd_utilizado -->
                                <tr>
                                    <td colspan="3">{VALOR_QUANTIDADE_UTILIZADA}</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <!-- END bloco_orgao_interna -->
                    
                    <tr {FLAG_EXIBIR}>
                        <td align="center" bgcolor="#75ADE6" valign="middle" class="titulo3" colspan="11">
                            <b>CARONA EXTERNA</b>
                        </td>
                    </tr>

                    <!-- BEGIN bloco_orgao_carona_externa -->
                    <tr>
                        <td>
                            <table  border="1" cellpadding="3" cellspacing="0" bordercolor="#75ADE6" summary="" class="textonormal" bgcolor="#FFFFFF" style="width: 700px;">
                                <!-- BEGIN bloco_resultado_carona_externa -->
                                <thead>
                                    <th align="left" bgcolor="#75ADE6" valign="middle" class="titulo3" colspan="11">
                                        {ORGAOGESTOR}
                                    </th>
                                </thead>
                                <tbody>
                                    <tr bgcolor="#DCEDF7">
                                        <td>Nº SOLICITAÇÃO EXTERNA</td>
                                        <td>DATA DE AUTORIZAÇÃO</td>
                                        <td>{TEXTO_SCC_UTILIZADO}</td>
                                    </tr>
                                    <!-- BEGIN bloco_resultado_tr_carona_externa -->
                                    <tr>
                                        <td>
                                            <a href="javascript:AbreJanela('../registropreco/CaronaOrgaoExternoAtaInternaDetalhe.php?SeqSolicitacao={IDSOLIC}&ProgramaOrigem={NOME_PROGRAMA}&ata={ATA}&tipo={TPATA}&orgao={ORGAO}&item={ITEM}&tipoItem={TIPOITEM}',755,370);">
                                            <font color="#000000"> {NUMEROSCC} </font>
                                            </a>
                                        </td>
                                        <td>{DATASCC}</td>
                                        <td>{QTDUTILIZADA}</td>
                                    </tr>
                                    <!-- END bloco_resultado_tr_carona_externa -->
                                    <tr  style="border:0">
                                        <td  style="border:0">
                                            {QTD_UTILIZADA}
                                        </td>
                                    </tr>
                                    <!-- END bloco_resultado_carona_externa -->

                               </tbody>
                            </table>    
                        </td>
                    </tr>
                    <!-- END bloco_orgao_carona_externa -->


                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="right">
              <input name="imprimir" onclick="javascript:enviar('Imprimir')" type="button" class="botao" value="Imprimir">
              <a name="Voltar" href="{BOTAO_VOLTAR}" class="botao" style="padding: 1px 6px;">Voltar</a>
              <input name="Botao" type="hidden" >
              <input name="ata" type="hidden" value="{ATA}">
              <input name="tipo" type="hidden" value="{TIPO}">
              <input name="orgao" type="hidden" value="{ORGAO}">
              <input name="item" type="hidden" value="{ITEM}">
              <input name="tipoItem" type="hidden" value="{TIPOITEM}">
              <input name="window" type="hidden" value="{WINDOW}">
            </td>
        </tr>
    </table>
</form>