<!-- 220038-- -->
<script type="text/javascript">
<!--
    function enviar(valor) {
        document.{NOME_PROGRAMA}.Botao.value = valor;
        localStorage.setItem("pesquisa", valor);
        document.{NOME_PROGRAMA}.submit();
        
    }

  

    function mascaraCPF() {
        $("#fornecedor").mask("999.999.999-99");
    }

    function mascaraCNPJ() {
        $("#fornecedor").mask("99.999.999/9999-99");
    }
    jQuery(document).ready(function($) {
        
        var tipoAtaSessao = '{TIPO_ATA_SESSAO}';

        tipoSelecionada(tipoAtaSessao);
        
        jQuery(".reset").click(function(event) {
            window.location = 'ConsRelatoriodeAdesaoCompras.php';            
        });

        //Caso o check do tipo ata não tenha sido informado, por padrão será interno
        var radioTipoInt = document.getElementById("checkInterno");
        var radioTipoExt = document.getElementById("checkExterno");

        // if (!radioTipoInt.checked && !radioTipoExt.checked) {
        //     jQuery("#checkInterno").prop({
        //         checked: true
        //     });
        // }

        var radio = document.getElementById("CPF");
        if (radio != null) {
            if (radio.checked) {
                $("#fornecedor").mask("999.999.999-99");
                jQuery("#CPF").prop({
                    checked: true
                });

            } else {
                $("#fornecedor").mask("99.999.999/9999-99");
                jQuery("#CNPJ").prop({
                    checked: true
                });

            }
        }
        

        MASCARA_ATA = "9999.9999/9999";
        MASCARA_ATA_EXTERNA = "9999/9999";

        $('.tipoAta').click(function() {  
            if ( $('#checkExterno').attr('checked')) {     
                $("#sarpParticipante").css('visibility', 'hidden');
                $("#sarpCarona").prop( "checked", true );
            }else{
                $("#sarpParticipante").css('visibility', 'visible');
                
            }
        });

        if ( $('#checkInterno').attr('checked')) {
            $( "#numeroAta" ).removeClass( "ataMascara ataMascaraExterna" ).addClass( "ataMascara" );  
            $(".ataMascara").mask(MASCARA_ATA, {placeholder:"_"});          
        } else {           
            $( "#numeroAta" ).removeClass( "ataMascara ataMascaraExterna" ).addClass( "ataMascaraExterna" );  
            $(".ataMascaraExterna").mask(MASCARA_ATA_EXTERNA, {placeholder:"_"});              
        }
        
    });
   
    function tipoSelecionada(tipoAta){
        
        if(tipoAta == "interna" || tipoAta == ''){
            $("#comissaoLic").show();
            $("#OrgaoPart").show();
            $("#orgaoGestor").show();
            $("#nAta").show();
            $("#processoInterno").show();
            $("#orgaoGestorExterno").hide();
            $("#nAtaExterna").hide();
            $("#processoExterno").hide();
        }else{
            $("#comissaoLic").hide();
            $("#OrgaoPart").hide();
            $("#orgaoGestor").hide();
            $("#nAta").hide();
            $("#processoInterno").hide();
            $("#nAtaExterna").show();
            $("#orgaoGestorExterno").show();
            $("#processoExterno").show();
        }        
    }    

    function AbreJanela(url, largura, altura) {
        window.open(url, 'paginadetalhe', 'status=no,scrollbars=yes,left=90,top=150,width=' + largura + ',height=' + altura);
    }

    function AbreJanelaItem(url, largura, altura) {
        window.open(url, 'paginaitem', 'status=no,scrollbars=yes,left=90,top=150,width=' + largura + ',height=' + altura);
    }
//-->
</script>
<form action="{NOME_PROGRAMA}.php" method="post" name="{NOME_PROGRAMA}">
    <table border="1" cellpadding="3" cellspacing="0" bordercolor="#75ADE6" summary="" class="textonormal" bgcolor="#FFFFFF" style="width: 800px;">
        <tr>
            <td align="center" bgcolor="#75ADE6" valign="middle" class="titulo3">PESQUISA</td>
        </tr>        
		<tr>
			<td>
				<table border="0" cellpadding="3" cellspacing="0"
					bordercolor="#75ADE6" summary="" class="textonormal"
					bgcolor="#FFFFFF" style="width: 633px;">
					<tr>
						<td>Para exibir o Extrato de Ata de Registro de Preços, selecione as opções desejadas e clique no botão “Pesquisar”.</td>
					</tr>
				</table>
			</td>
		</tr>


        <tr>
            <td>
                <table class="textonormal" border="0px" align="left" summary="">                    
                    <tr>
                        <table class="textonormal" border="0" width="100%" summary="">
                            <tr>
                                <td class="textonormal" bgcolor="#DCEDF7" style="display: table; width: 200px">Tipo da Ata</td>
                                <td class="textonormal">
                                    <input type="radio" name="tipoAta"  id="checkInterno" class="tipoAta" value="I" {CHECK_ATA_INTERNA}>INTERNA
                                    <input type="radio" name="tipoAta"  id="checkExterno" class="tipoAta" value="E" {CHECK_ATA_EXTERNA}>EXTERNA
                                </td>
                            </tr>
                            <tr>
                                <td class="textonormal" bgcolor="#DCEDF7" style="display: table; width: 200px">Tipo SARP</td>
                                <td class="textonormal">
                                    <input type="radio" name="tipoSarp" id="sarpParticipante"  class="tipoSarp" value="P" {SARP_PARTICIPANTE}>PARTICIPANTE
                                    <input type="radio" name="tipoSarp" id="sarpCarona"  class="tipoSarp" value="C" {SARP_CARONA}>CARONA
                                </td>
                            </tr>
                                         
                            <tr id="orgaoGestor">
                                <td class="textonormal" bgcolor="#DCEDF7">Órgão</td>
                                <td class="textonormal">
                                    <select onChange="javascript:enviarValorOrgao();" name="orgao" class="textonormal">
                                        <option value="">Informe um órgão</option>
                                        <!-- BEGIN BLOCO_ORGAO_GERENCIADOR -->
                                        <option value="{ORGAO_VALUE_GERENCIADOR}" {ORGAO_SELECTED_GERENCIADOR}>{ORGAO_TEXT_GERENCIADOR}</option>
                                        <!-- END BLOCO_ORGAO_GERENCIADOR -->
                                    </select>
                                </td>
                            </tr>
                
                            <tr>
                                <td class="textonormal" bgcolor="#DCEDF7">Período</td>
                                <td>
                                    <label>Inicio</label>
                                    <input id="dataval1" class="textonormal" type="text" name="DataIni" value="{DATA_INICI}">
                                    <a style="text-decoration: none" href="javascript:janela('../calendario.php?Formulario=ConsRelatoriodeAdesaoCompras&amp;Campo=DataIni','Calendario',220,170,1,0)"> 
                                        <img src="../midia/calendario.gif" border="0" alt="">
                                    </a>
                                    <label>a</label>
                                    
                                    <input id="dataval2" class="textonormal" type="text" name="DataFim" value="{DATA_FIM}">
                                    <a style="text-decoration: none" href="javascript:janela('../calendario.php?Formulario=ConsRelatoriodeAdesaoCompras&amp;Campo=DataFim','Calendario',220,170,1,0)"> 
                                        <img src="../midia/calendario.gif" border="0" alt="">
                                    </a>
                                </td>
                            </tr>
                       
                </table>
                    
                        <tr>

                            <td class="textonormal" align="right" colspan="4" style="border: solid 1px #75ADE6;" cellpadding="3" cellspacing="0" bordercolor="#75ADE6">
                                <input type="hidden" name="InicioPrograma" value="1" />
                                <input type="button" name="Selecionar" value="Pesquisar" class="botao" onclick="javascript:enviar('Pesquisar')" />
                                <input type="button" name="Limpar" value="Limpar" class="botao reset" />
                                <input type="hidden" name="Botao" value="" />
                            </td>
                        </tr>
                           <!-- BEGIN bloco_sem_resultado_ata -->
                    
                    <tr>
                        <td>
                            <table style="width: 100%;">
                                <tr>
                                    <td align="center" bgcolor="#75ADE6" colspan="6" valign="middle" class="titulo3">RESULTADOS DA PESQUISA</td>
                                </tr>
                                <tr>
                                    <td align="center" bgcolor="#DCEDF7" colspan="5" valign="middle" class="titulo3">
                                        Nenhum registro encontrado.
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- END bloco_sem_resultado_ata -->
                        <tr>
                        <td>
                             <!-- BEGIN bloco_titulo -->
                            <table border="1" cellpadding="3" cellspacing="0" bordercolor="#75ADE6" summary="" class="textonormal" bgcolor="#FFFFFF" style="width: 100%;">
                            <tr colspan="7" id="pesquisa">
                                <td align="center" bgcolor="#75ADE6" colspan="7" valign="middle" class="titulo3">RESULTADOS DA PESQUISA</td>
                            </tr>
                            <tr  id="pesquisa">
                                <td  bgcolor="#DCEDF7" class="textonormal" align="center">
                                    Nº SCC
                                </td>
                                <td bgcolor="#DCEDF7"  class="textonormal" align="center">
                                    OBJETO
                                </td>
                                <td bgcolor="#DCEDF7" class="textonormal" align="center">
                                    ORGÃO
                                </td>
                                <td bgcolor="#DCEDF7" class="textonormal" align="center">
                                    DATA SCC
                                </td>
                                <td bgcolor="#DCEDF7" class="textonormal" align="center">
                                    TIPO DE SARP
                                </td>
                                <td bgcolor="#DCEDF7" class="textonormal" align="center">
                                    TIPO DE ATA
                                </td>
                                <td bgcolor="#DCEDF7" class="textonormal" align="center">
                                    FORNECEDOR
                                </td>
                            </tr>
                            <!-- BEGIN bloco_resultado_ata -->
                            
                                <tr>
                                    <td class="textonormal" align="center">
                                            <center>{SCC}</center>    
                
                                    </td>
                                    <td class="textonormal" align="center">
                                        {VALOR_OBJETO}
                                    </td>
                                    <td class="textonormal" align="center">
                                        {VALOR_ORGAO}
                                    </td>
                                    <td class="textonormal" align="center">
                                        {DATA_SCC}
                                    </td>
                                    <td class="textonormal" align="center">
                                        {TIPO_SOLICITACAO}
                                    </td>
                                    <td class="textonormal" align="center">
                                        {TIPO_ATA_DESC}
                                    </td>
                                    <td class="textonormal" align="center">
                                        <center>{FORNECEDOR}</center>
                                    </td>
                                </tr>
                                <!-- END bloco_resultado_ata -->
                    
                            </table>
                        </td>
                    </tr>
                     <!-- END bloco_titulo -->
                </table>
            </td>
        </tr>

    </table>
</form>
