<!-- 
 * Criado por : Eliakim Ramos
 * Data:    09/06/2022
 * Objetivo: Tarefa Redmine  #264564
 * -----------------------------------------------------------------------------
 -->
<div class="content">
	<div class="row">
		<div class="span12">
			<section class="box-article">
			<header class="header">
				<h1>Informações sobre Acessibilidade</h1>
			</header>
			<div class="body">
				<ul class="breadcrumb">
					<li><a href="{BASE_URL}home.php">Início</a><span class="divider"><i class="arrow-right"></i></span></li>
					<li><li class="active">Acessibilidade</li>
				</ul>
                <article class="article">
                    <header class="article-header">
                        <h1>Informações sobre Acessibilidade</h1>
                    </header>
                </article>
                <article class="article">
                        <p>O Portal de Compras de Recife está preparado para atender as necessidades de pessoas com deficiência e, por isso, disponibiliza informações com um novo modelo de identidade digital que atende às principais recomendações de acessibilidade indicadas para web. Dentre outros itens, estão:</p>
                        <ul>
                          <li>Interface visualmente limpa, intuitiva e com facilidade de navegação</li>
                          <li>Desenvolvida procurando seguir as <a target="_blank" href="https://www.w3.org/TR/WAI-WEBCONTENT/">Diretrizes de Acessibilidade de Conteúdo Web do W3C</a></li>
                          <li>Teclas de atalho para fácil e rápida navegação</li>
                          <li>Botões de alto contraste</li>
                          <li>Botões para permitir aumento das fontes</li>
                          <li>Mapa do site facilmente acessível</li>
                        </ul>
                        <h2>Botões de alto contraste e aumento de fontes</h2>
                        <p>Ao lado do campo de procura encontram-se os botões de alto contraste e tamanho das fontes (aumentar, tamanho normal, ou diminuir as fontes). Estes servem para que se possa ajustar a visibilidade dos textos e conteúdo do Portal.</p>
                        <p>Para alteração de tamanho da fonte, é necessário que Cookies estejam habilitados no navegador.</p>
                        <h2>Teclas de atalho</h2>
                        <p>O Portal de Compras possui teclas de atalho para acesso rápido de algumas áreas. Porém a chamada das teclas de atalho variam dependendo do navegador. No Internet Explorer, Chrome, Safari, pode ser acessada por ALT + tecla. Já no Firefox, ALT + SHIFT + tecla.</p>
                        <p>As teclas de atalho são:</p>
                        <ul>
                          <li>0 - Informações de Acessibilidade (esta página)</li>
                          <li>1 - Página inicial</li>
                          <li>9 - Mapa do site</li>
                          <li>R - Atas de Registro de Preços</li>
                          <li>D - Dispensas / Inexigibilidades</li>
                          <li>M - Legislação de Compras</li>
                          <li>L - Licitações</li>
                          <li>C - Contratos</li>
                          <li>S - Sanções</li>
                          <li>O - Documentação Fornecedores</li>
                          <li>P - Gera nova senha</li>
                          <li>G - Legislação de Compras Consultar</li>
                          <li>F - Fornecedores</li>
                          <li>N - Certidão Negativa de Débitos Trabalhistas</li>
                          <li>T - + Transparencia</li>
                          <li>U - Informação Sobre o Cadastro de Fornecedores</li>
                          <li>E - Atualização de Documentos</li>
                          <li>H - Consulta das Comissões</li>
                          <li>I - Fale Conosco - Fornecedores</li>
                          <li>X - Fale Conosco - Licitações</li>
                        </ul>
                        <h2>Navegadores (Internet Explorer, Firefox, Mozilla, Opera, e outros)</h2>
                        <p>Todos navegadores atuais já possuem algum tipo de suporte a navegação sem auxílio do mouse. Com a tecla TAB você pode mudar o foco de um item de navegação para outro. Com a tecla ENTER você pode selecionar este item.</p>
                        <p>Há diversas outras teclas de atalho, que variam dependendo do navegador. Não é nosso foco se aprofundar no assunto, porém deixamos alguns links, com créditos ao site <a href="http://acessibilidadelegal.com/index.php">Acessibilidade Legal</a>:</p>
                        <ul>
                          <li><a target="_blank" href="http://acessibilidadelegal.com/33-teclas-ie.php">Interner Explorer</a></li>
                          <li><a target="_blank" href="http://acessibilidadelegal.com/33-teclas-ff.php">Firefox</a></li>
                          <li><a target="_blank" href="http://acessibilidadelegal.com/13-chrome.php">Chrome</a></li>
                        </ul>

                        <h2>Tecnologias assistivas</h2>
                        <p>Há diversas tecnologias desenvolvidas voltadas para acessibilidade. Desde suporte à acessibilidade pelo próprio sistema operacional (Linux, Windows), há também aplicações como leitores de tela. Novamente, o assunto é amplo e não é de nosso foco nos aprofundar. Porém deixamos alguns links úteis, fonte <a href="http://acessibilidadelegal.com/index.php">Acessibilidade Legal</a>:</p>
                        <ul>
                          <li><a target="_blank" href="http://acessibilidadelegal.com/30-assistivas.php">Sobre tecnologias assistivas</a></li>
                        </ul>
                        <p>Leitores de tela:</p>
                        <ul>
                          <li><a target="_blank" href="http://www.freedomscientific.com/Products/Blindness/JAWS">JAWS</a></li>
                          <li><a target="_blank" href="http://www.virtualvision.com.br/">Virtual Vision</a></li>
                          <li><a target="_blank" href="https://www.nvaccess.org/">NV Access</a></li>
                        </ul>
                      </article>
                </article>
			</div>
		</div>
</div>