<!-- 
------------------------------------------------------------
Alterado: Lucas Baracho
Data:	  24/10/2018
Objetivo: Tarefa Redmine 73662
------------------------------------------------------------
-->
<div class="site-body">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="span12">
                    <section class="box-article">
                        <header class="header">
                            <h1>Modelos de Documentos Necessários para o Registro de Preço</h1>
                        </header>
                        <div class="body">
                            <ul class="breadcrumb">
                                <li>Você está em:</li>
                                <li><a href="{BASE_URL}home.php">Início</a><span class="divider"><i class="arrow-right"></i></span></li><!--
                                --><li><a href="{BASE_URL}RegPrecos.php">Registro Preço</a><span class="divider"><i class="arrow-right"></i></span></li><!--
                                --><li class="active">Modelos de Documentos</li>
                            </ul>
                            <article class="article">
                                <header class="article-header">
                                    <h1>Modelos de Documentos Necessários para o Registro de Preço</h1>
                                </header>
                            </article>
                            <article class="article">
                                <div class="clearfix">&nbsp;</div>
                                <section>
                                    <div class="row-fluid">
                                        <div class="well span8 offset2">
                                            <p class="row-border">Seguem abaixo alguns modelos de documentos que deverão ser utilizados no processo de Registro de Preços:
                                            </p>
                                            <ul>
                                            	<li><a href="http://www.recife.pe.gov.br/portalcompras/registropreco/ModeloAutorizacaoDetentorAta.doc"> Modelo de Autorização do Detentor da Ata</a></li>
                                               	<li><a href="http://www.recife.pe.gov.br/portalcompras/registropreco/ModeloDeclaracaoSolicitanteCarona.doc"> Modelo de Declaração do Solicitante da Carona</a></li>
                                               	<li><a href="http://www.recife.pe.gov.br/portalcompras/registropreco/ModeloParticipanteAdesao.doc"> Modelo de Adesão da Ata de Registro de Preços</a></li>
                                            </ul>
                                            <div class="row-border clearfix">&nbsp;</div>
                                            <p class="text-center">
                                                Informações na Gerência Geral de Licitações e Compras<br />
                                                Endereço: Rua Cais do Apolo, 925 - 14º andar <br />
                                                CEP:500030-903 Bairro do Recife - Recife-PE <br />
                                                Telefones: 3232-8374/ 8216
                                            </p>
                                        </div>
                                    </div>
                                </section>
                            </article>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
