<!-- 
------------------------------------------------------------
Alterado: Lucas Baracho
Data:	  24/10/2018
Objetivo: Tarefa Redmine 73662
------------------------------------------------------------
Alterado: Lucas André
Data:     28/06/2023
Objetivo: 285493
------------------------------------------------------------
-->
<div class="site-body">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="span12">
                    <section class="box-article">
                        <header class="header">
                            <h1>Plano de Contratações Anual - PCA</h1>
                        </header>
                        <div class="body">
                            <ul class="breadcrumb">
                                <li>Você está em:</li>
                                <li><a href="{BASE_URL}home.php">Início</a><span class="divider"><i class="arrow-right"></i></span></li><!--
                                --><li><a href="{BASE_URL}home.php">PCA</a><span class="divider"><i class="arrow-right"></i></span></li><!--
                                --><li class="active">Consultar</li>
                            </ul>
                            <article class="article">
                                <header class="article-header">
                                    <p class="titulo-noticia" title="aviso">
                                        <span style="color: #1257aa;">Todas as informações são atualizadas em tempo real, ou seja, são exibidas imediatamente após o cadastramento</span>
                                    </p>
                                    <h1>Plano de Contratações Anual - PCA</h1>
                                </header>
                            </article>
                            <article class="article">
                                <div class="clearfix">&nbsp;</div>
                                <section>
                                    <div class="row-fluid">
                                        <div class="well span8 offset2">
                                            <p class="row-border">Clique no documento desejado para realizar o download.</p>
                                            <ul>
                                            	<li><a href="/planejamento/PCA2023.pdf">PCA 2023 - versão 1.8</a></li>
                                                <li><a href="/planejamento/Corporativo2023.pdf"> Planejamento das Contratações Corporativas 2023</a></li>
                                            </ul>
                                            <div class="row-border clearfix">&nbsp;</div>
                                        </div>
                                    </div>
                                </section>
                            </article>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
