<!-- 
------------------------------------------------------------
Alterado: Lucas Baracho
Data:	  24/10/2018
Objetivo: Tarefa Redmine 73662
------------------------------------------------------------
-->
<div class="content">
    <div class="row">
        <div class="span12">
            <section class="box-article">
                <header class="header">
                    <h1>Informação Sobre o Cadastro de Fornecedores</h1>
                </header>
                <div class="body">
                    <ul class="breadcrumb">
                        <li>Você está em:</li>
                        <li><a href="{BASE_URL}home.php">Início</a><span class="divider"><i class="arrow-right"></i></span></li>
                        <li><a href="{BASE_URL}Fornecedores.php">Fornecedores</a><span class="divider"><i class="arrow-right"></i></span></li><li class="active">Informação</li>
                    </ul>
                    <article class="article">
                        <header class="article-header">
                            <h1>Informação Sobre o Cadastro de Fornecedores</h1>
                        </header>
                    </article>
                    <article class="article">
                        <section class="article-detail row-border">
                            <p align="justify">
                                <br>
                                O Sistema de Credenciamento Unificado de Fornecedores da
                                Prefeitura do Recife (SICREF) foi criado para inscrever pessoas físicas
                                e jurídicas que pretendam contratar com a Administração Pública
                                Municipal, destinando-se a desburocratizar, agilizar e aumentar
                                a competitividade das compras governamentais.
                            </p>
                            <p align="justify">
                                O Certificado correspondente à inscrição no SICREF poderá substituir os
                                documentos necessários à habilitação em licitações promovidas pelos
                                órgãos e entidades municipais, bem como em contratações diretas,
                                além de ser exigido para a participação na modalidade Tomada de Preços.
                            </p>
                            <p align="justify">
                                Para facilitar o processo de inscrição no SICREF, a Prefeitura
                                está disponibilizando a <a href="{BASE_URL}CadInscritoIncluir.php"> Inscrição On-line dos Fornecedores </a>ou através do
                                preenchimento do <a href="http://www.recife.pe.gov.br/portalcompras/fornecedores/formulariofornecedoreswebatual.pdf"> formulário</a> e entrega posterior.

                                A documentação relativa à habilitação jurídica, qualificação técnica, qualificação
                                econômico-financeira e regularidade fiscal, deverá ser enviada ao Protocolo da Gerência Geral de Licitações e Compras - GGLIC (Cais do Apolo, 925,
                                2.º andar, CEP:50030-903, Bairro do Recife, Recife-PE - telefone: 3355-8235).
                            </p>
                            <p align="justify">
                                O requerimento de inscrição no SICREF, instruído por toda a <a href="{BASE_URL}ConsDocumentacaoFornecedores.php">documentação</a>
                                exigida, será submetido à análise da Gerência de Serviços de
                                Credenciamento de Fornecedores, a quem caberá autorizar ou não, no
                                prazo máximo de 3 (três) dias úteis da data de recebimento da
                                solicitação, a efetuação do cadastro, salvo pendências dos documentos.
                            </p>
                            <p align="justify">
                                O recebimento do CHF será feito através da internet, mediante a utilização de senha concedida ao
                                solicitante, quando da solicitação do Cadastramento ou atualização.
                            </p>
                            <h2>Cadastro simplificado para Microempresas e Empresas de Pequeno Porte</h2>
                            <p align="justify">
                                As Microempresas e Empresas de Pequeno Porte poderão ter acesso a um Certificado de Habilitação de Firmas - CHF simplificado em que não será exigido o Balanço Patrimonial e a Demonstração do Resultado do Exercício. Esta simplificação permitirá a participação e habilitação em licitações exclusivas para esses tipos de pessoas jurídicas - de acordo com o disposto no Decreto Municipal nº 27.300/2013 - e também para aquelas licitações que não exijam qualificação econômica.
                            </p>
                            <p align="justify">
                                Caso as empresas portadoras desse CHF almejem participar de licitações não exclusivas, de caráter geral, em que o Balanço Patrimonial seja exigido para fins de qualificação econômico- financeira, deverão obrigatoriamente apresentar os referidos demonstrativos contábeis juntamente com os termos de abertura e encerramento do livro diário, autenticados na Junta Comercial, de acordo com a Instrução Normativa do Departamento de Registro Empresarial e Integração - DREI nº 11 de 05.12.2013, gerando, assim, um CHF completo.
                            </p>
                            <p align="justify">
                                Para que haja a caracterização da pessoa jurídica como Microempresa ou Empresa de Pequeno Porte, é necessária a entrega da declaração de enquadramento como tal, de acordo com os requisitos indicados no art.3º da Lei Complementar nº 123/2006.
                            </p>
                            <p align="justify">
                                O Microempreendedor Individual &ndash; MEI está dispensado legalmente da elaboração do Balanço Patrimonial e da Demonstração do Resultado do Exercício. No entanto, no tocante ao Sistema de Credenciamento de Fornecedores &ndash; SICREF , é necessária a prova dessa situação por meio de certificado de condição de Microempreendedor individual.
                            </p>
                            <h2>SICREF Digital</h2>
                            O Cadastro de Fornecedores da Prefeitura do Recife, buscando trazer mais celeridade e eficiência às contratações da Administração Municipal,
                            agora permite que durante o pré-cadastro feito pelo fornecedor via internet possam ser inclusos os documentos e certidões cujo envio antes era por via postal
                            ou entrega no edifício sede da prefeitura do Recife. Somada a essa mudança, passa também a ser possível a atualização das certidões vencidas durante o
                            período de validade do CHF (Certificado de Habilitação do Fornecedor) também por meio digital no portal de compras, conforme será especificado adiante.
                            <br><br>
                            Em relação ao primeiro cadastro, o procedimento para anexação da documentação será feito por meio da adição de uma aba ao fim do já vigente sistema de cadastro
                            feito via Portal de Compras > Fornecedores > <b>Inscrição</b>. Nessa nova funcionalidade, o fornecedor poderá anexar seus documentos em formato DIGITAL e exclusivamente
                            em arquivos na forma de PDF, limitados ao tamanho de 5 Mb (por arquivo).
                            <br><br>
                            Na aba <b>“Documentação”</b> aberta, o fornecedor irá clicar no espaço <b>“escolher arquivo”</b>, por meio do qual irá selecionar os documentos exigidos que estejam salvos em seu computador
                            e clicar em “abrir” na janela aberta. Depois, o fornecedor irá selecionar qual o <b>“tipo de documento”</b> que o mesmo está incluindo, podendo ainda ser feitas algumas observações
                            referentes ao documento adicionado pelo fornecedor no campo <b>“Observação”</b>. Feito tal procedimento, o fornecedor irá clicar no campo <b>“Incluir documento”</b> e repetirá o mesmo
                            procedimento para todos os documentos e certidões que incluir no Sistema. Ao final da anexação de todos os arquivos, o fornecedor deverá clicar no campo <b>“Incluir”</b> (em azul escuro)
                            abaixo do último documento.
                            <br><br>
                            Os documentos anexados pelo fornecedor irão ingressar no sistema com o status <b>“EM ANÁLISE”</b>, que será modificado à medida que a administração municipal conferir a autenticidade dos documentos incluídos,
                            passando a ter o status de <b>“APROVADO”</b>.
                            A administração tem o prazo regular de 3 dias úteis para analisar, caso não haja pendências na documentação entregue.
                            <br><br>
                            O procedimento para atualização das certidões de fornecedores já cadastrados será bastante semelhante. Ao acessar Portal de Compras > Fornecedores > <b>Atualização de Documentos</b> e,
                            de posse da senha de acesso pelo Login, <b>o fornecedor irá acessar uma tela em que</b> irá clicar no espaço “escolher arquivo”, por meio do qual irá selecionar os documentos exigidos
                            que estejam salvos em seu computador e clicar em “abrir” na janela aberta. Depois, o fornecedor irá selecionar que <b>“Tipo de documento”</b> que mesmo está incluindo, podendo ainda ser
                            feitas algumas observações referentes ao documento adicionado pelo fornecedor no campo “Observação”. Feito tal procedimento, o fornecedor irá clicar no campo <b>“Incluir documento”</b> e
                            repetirá o procedimento para todos os documentos e certidões que incluir no Sistema.
                            Ao final da anexação de todos os arquivos, o fornecedor deverá clicar no campo <b>“Incluir”</b> (em azul escuro) abaixo do último documento.
                            <br><br>
                            OBS1: Tamanho dos documentos - Tendo em vista o limite máximo de 5 Mb por documento no formato PDF, é recomendável que o fornecedor reparta os arquivos maiores de modo
                            que cada repartição feita encaixe no limite, podendo o fornecedor especificar as divisões feitas no documento no campo <b>“Observação”</b>. Geralmente, os documentos referentes às
                            demonstrações contábeis e o contrato social irão, pelo número de páginas, exceder o limite. Caso isso ocorra, o fornecedor pode proceder da forma acima descrita.
                            <br><br>
                            OBS2: Em relação a documentação Contábil enviada digitalmente, a sua aceitação será condicionada à possibilidade de Administração poder conferir a autenticidade em sítio
                            eletrônico, o que se dá no caso do <b>Sped Contábil</b>, chamado também de ECD (Escrituração <b>Contábil</b> Digital), de <b>Livros Diários que possuam autenticação digital passível de
                            verificação via internet</b>, bem como os que possuírem selo de autenticação de Cartórios Digitais. Caso não haja essa possibilidade, a aceitação do documento digital ficará
                            condicionada à apresentação física dos documentos originais no 11º andar do prédio da Prefeitura, Av. Cais do Apolo, 925 - Recife, PE ou ao envio da cópia da documentação
                            autenticada ao mesmo endereço.
                            <br><br>
                            OBS3: Em relação ao <b>Contrato Social enviado digitalmente</b>, a sua aceitação será condicionada à possibilidade de Administração poder conferir a veracidade do documento em sítio eletrônico por <b>meio do 
                            código de verificação de autenticidade junto ao site do respectivo órgão competente, bem como os que possuírem selo de autenticação de Cartórios Digitais.</b> Caso não haja essa possibilidade, a aceitação 
                            do documento digital ficará condicionada à apresentação física dos documentos originais no 11º andar do prédio da Prefeitura, Av. Cais do Apolo, 925 - Recife, PE ou ao envio da cópia da documentação autenticada ao mesmo endereço. 
                            <br><br>
                            OBS4: Para os fornecedores que desejam renovar o Cadastro, caso o CHF esteja vencido ou perto de vencer, será necessária a anexação de toda documentação exigida no ato de cadastro e o
                            <b>envio de mensagem eletrônica</b> indicando a intenção de renovar o CHF para o seguinte email: <a href="mailto:sicref@recife.pe.gov.br">sicref@recife.pe.gov.br</a>.
                        </section>
                    </article>
                </div>
            </section>
        </div>
    </div>
</div>

