             <form action="ConsRegistroPrecoResultado2017.php" method="post" name="ConsRegistroPrecoPesquisar" class="formSubmit">
                <div class="content">
                    <div class="row">
                        <input type="hidden" name="BotaoAcao" id="botaoAcao"/>
                        <div class="span12">
                            <section class="box-article">
                                <header class="header">
                                    <h1>Consulta de Registro de Preço - Atas Internas</h1>
                                </header>
                                <div class="body">
                                    <ul class="breadcrumb">
                                        <li><a href="{BASE_URL}home.php">Início</a><span class="divider"><i class="arrow-right"></i></span></li>
                                        <li><a href="{BASE_URL}RegPrecos.php">Registro Preço</a><span class="divider"><i class="arrow-right"></i></span></li>
                                         <li>Consulta<span class="divider"><i class="arrow-right"></i></span></li>
                                        <li class="active">Ata interna</li>
                                    </ul>
				                    <article class="article">
				                        <header class="article-header">
				                            <h1>Consulta de Registro de Preço - Atas Internas</h1>
				                        </header>
				                    </article>
                                    <article class="article">
                                        <section class="article-detail row-border">
                                            <p>Para consultar as Atas de Registro de Preços dos Processos Licitatórios, selecione o item de pesquisa e clique no botão "Pesquisar". Para limpar a pesquisa, clique no botão "Limpar".</p>
                                        </section>
                                        <div class="clearfix">&nbsp;</div>
                                        <section>
                                            <div class="well">
                                                <div class="row-fluid">
                                                    <div class="span5">
                                                        <label for="txtObjeto" class="big">Objeto</label>
                                                        <input type="text" class="span12" id="txtObjeto" name="ItemObjeto">
                                                    </div>
                                                    <div class="span7">
                                                        <label for="ddlOrgao" class="big">Órgão Gerenciador</label>
                                                        <select id="ddlOrgao" class="span12" name="ItemOrgao">
                                                            <option value="">Todos os Órgãos Gerenciadores...</option>
                                                            <!-- BEGIN BLOCK_OPTION -->
                                                            <option value="{ID_CONSULTA_LICITANTE}">{NOME_CONSULTA_LICITANTE}</option>
                                                            <!-- END BLOCK_OPTION -->
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="span5">
                                                        <label for="ddlComissao" class="big">Comissão</label>
                                                        <select id="ddlComissao" class="span12" name="ItemComissao">
                                                            <option value="">Todas as Comissões...</option>
                                                            <!--<option value="41">CARONA EXTERNA</option>
                                                            <option value="34">COMISSÃO ESP DE LIC DA SEC DE SANEAMENTO - CELSS</option>
                                                            <option value="47">COMISSÃO ESP DE LIC DE COMPRAS CORPORATIVAS -CELCC</option>
                                                            <option value="44">COMISSÃO ESP DE LIC DE EVENTOS CULTURAIS - CELEC</option>
                                                            <option value="46">COMISSÃO ESP DE LIC RECURSO INTERNACIONAIS - CELRI</option>
                                                            <option value="39">COMISSÃO ESPECIAL DE LICITAÇÃO - CEL</option>-->
                                                            <!-- BEGIN BLOCK_OPTION_2 -->
                                                            <option value="{ID_CONSULTA_COMISSAO}">{NOME_CONSULTA_COMISSAO}</option>
                                                            <!-- END BLOCK_OPTION_2 -->
                                                        </select>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="btn-toolbar pagination-right">
                                                    <button class="btn btn-primary" type="button" onClick="javascript:enviar('Pesquisar','BotaoAcao')">Pesquisar</button>
                                                    <button class="btn btn-primary reset" type="button">Limpar</butt1on>
                                                </div>
                                            </div>
                                        </section>
                                    </article>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </form>