<script language="javascript" type="text/javascript">
    function enviar(valor){
        document.FornecedorGrupos.Botao.value = valor;
        document.FornecedorGrupos.submit();
    }

    function remeter(){
        document.FornecedorGrupos.submit();
    }
</script>

<div class="content grupos-fornecimento">
    <div class="row">
        <div class="span12">
            <section class="box-article">
                <div class="">
                    <table class="table table-report">
                        <thead>
                            <tr>
                                <th colspan="5">
                                    <span class="text-center">Editais e Anexos</span>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                                <td>DOCUMENTO</td>
                                <td>TAMANHO</td>
                                <td>RESPONSÁVEL</td>
                                <td>OBSERVAÇÃO/JUSTIFICATIVA</td>
                            </tr>

                            <!-- BEGIN BLOCO_RESULTADO_DOCUMENTOS -->
                            <tr>
                                <td>
                                    <!-- BEGIN BLOCO_LINK_DOWNLOAD -->
                                    <a href="{LINK}" target="_blank" class="textonormal">
                                        <img src="../midia/disquete.gif" border="0">
                                    </a>
                                    <!-- END BLOCO_LINK_DOWNLOAD -->

                                    <!-- BEGIN BLOCO_SEM_LINK -->
                                    <img src="../midia/disqueteInexistente.gif" border="0">
                                    <!-- END BLOCO_SEM_LINK -->
                                </td>
                                <td>{DOCUMENTO}</td>
                                <td><center>{TAMANHO}</center></td>
                                <td>{RESPONSAVEL}</td>
                                <td>{OBSERVACAO_JUSTIFICATIVA}</td>
                            </tr>
                            <!-- END BLOCO_RESULTADO_DOCUMENTOS -->

                            <!-- BEGIN BLOCO_SEM_RESULTADO -->
                            <tr>
                                <td colspan="5">Nenhum Documento Relacionado!</td>
                            </tr>
                            <!-- END BLOCO_SEM_RESULTADO -->
                        </tbody>
                    </table>
                </div>

                <div class="btn-toolbar pagination-right">
                    <button onclick="javascript:window.close()" type="button" class="btn btn-primary">Voltar</button>
                </div>
            </section>
        </div>
    </div>
</div>
