<!--
	Alterado:	Lucas Baracho
	Data:		09/07/2018
	Objetivo:	Tarefa Redmine 169917
-->
<!--
	Alterado:	Osmar Celestino
	Data:		20/04/2021
	Objetivo:	Tarefa Redmine #247219
-->
<script>
	function AbreJanelaDocumentos(url, largura, altura) {
		window.open(url, 'pagina',
				'status=no,scrollbars=yes,left=20,top=150,width=' + largura
						+ ',height=' + altura);
	}
</script>
<div class="content">
	<div class="row">
		<div class="span12">
			<section class="box-article">
				<header class="header">
					<h1>Todas as Licitações  do COVID- Detalhamento</h1>
				</header>
				<div class="body">
					<ul class="breadcrumb">
						<li><a href="{BASE_URL}home.php">Início</a><span
							class="divider"><i class="arrow-right"></i></span></li>
						<li><a href="{BASE_URL}Licitacoes.php">Licitações</a><span
							class="divider"><i class="arrow-right"></i></span></li>
						<li><a href="{BASE_URL}ConsTodasLicitacoesCovid.php">Todas as
								Licitações do COVID </a><span class="divider"><i class="arrow-right"></i></span></li>
						<li class="active">Detalhamento</li>
					</ul>
					<article class="article">
						<header class="article-header">
							<h1>Todas as Licitações do COVID - Detalhamento</h1>
						</header>
					</article>
					<article class="article">
						<!-- BEGIN BLOCO_MENSAGEM -->
						<div class="alert {TIPOALERT}">
							<button class="close" data-dismiss="alert" type="button">×</button>
							{MENSAGEM}
						</div>
						<!-- END BLOCO_MENSAGEM -->

						<section class="article-detail row-border">
							<p>Para visualizar os documentos e Atas da Licitação, clique
								no item desejado. Para visualizar todas as Licitações
								Pesquisadas, clique no botão "Voltar".</p>
						</section>
						<section class="article-detail">

							<!--  -->
							<table class="table table-report">
								<thead>
									<tr>
										<th colspan="{COLSPAN_GERAL}"><span class="text-center">TODAS
												AS LICITAÇÕES DO COVID - DETALHAMENTO</span></th>
									</tr>
								</thead>


								<tbody>
									<tr>
										<td colspan="4"><b>GRUPO</b></td>
										<td colspan="{COLSPAN_GERAL_SUP}">{GRUPO_DESCRICAO}</td>
									</tr>
									<tr>
										<td colspan="4"><b>COMISSÃO</b></td>
										<td colspan="{COLSPAN_GERAL_SUP}">{COMISSAO_DESCRICAO} <!-- BEGIN BLOCO_NOME_PRESIDENTE -->
											<!--<br/>{VALOR_PRESIDENTE}--> <!-- END BLOCO_NOME_PRESIDENTE -->

											<!-- BEGIN BLOCO_DADOS_EXTRAS --> <br />{VALOR_ENDERECO}
											{VALOR_TELEFONE} {VALOR_FAX} <!-- END BLOCO_DADOS_EXTRAS -->


										</td>
									</tr>

									<tr>
										<td colspan="4"><b>PROCESSO</b></td>
										<td colspan="{COLSPAN_GERAL_SUP}">{PROCESSO}</td>
									</tr>

									<tr>
										<td colspan="4"><b>MODALIDADE</b></td>
										<td colspan="{COLSPAN_GERAL_SUP}">{MODALIDADE_DESCRICAO}</td>
									</tr>

									<tr>
										<td colspan="4"><b>LICITAÇÃO</b></td>
										<td colspan="{COLSPAN_GERAL_SUP}">{LICITACAO}</td>
									</tr>

									<tr>
										<td colspan="4"><b>REGISTRO DE PREÇO <!-- BEGIN BLOCO_PERMISSAO_REMUNERADA -->
												/PERMISSÃO REMUNERADA DE USO <!-- END BLOCO_PERMISSAO_REMUNERADA -->
										</b></td>
										<td colspan="{COLSPAN_GERAL_SUP}">{REGISTRO_PRECO}</td>
									</tr>

									<tr>
										<td colspan="4"><b>OBJETO</b></td>
										<td colspan="{COLSPAN_GERAL_SUP}">{OBJETO}</td>
									</tr>
									<tr>
										<td colspan="4"><b>DATA/HORA DE ABERTURA</b></td>
										<td colspan="{COLSPAN_GERAL_SUP}">{DATA_ABERTURA} h</td>
									</tr>
									<tr>
										<td colspan="4"><b>ÓRGÃO LICITANTE</b></td>
										<td colspan="{COLSPAN_GERAL_SUP}">{ORGAO_LICITANTE}</td>
									</tr>
									<!--KIM CR #225675-->
									<tr {SEEXISTESCC} >
                                        <td colspan="4" style="text-align: left"><strong>SOLICITAÇÃO DE COMPRA</strong></td>
                                        <td colspan="10" style="text-align: left"> 
                                            <a href="#" onclick="javascript:AbreJanelaDocumentos('{LINKSCC}',window.screen.width-100,window.screen.height-200);" >{SCC}</a> 
                                        </td>
                                    </tr>
									<tr>
										<td colspan="4"><b>NECESSIDADE DE APRESENTAÇÃO DE
												DEMONSTRAÇÕES CONTÁBEIS</b></td>
										<td bgcolor="#F7F7F7" valign="top" colspan="{COLSPAN_GERAL_SUP}"
											class="textonormal">{NECESSIDADE_DEMONSTRACOES}</td>
									</tr>
									<!-- BEGIN BLOCO_DOCUMENTOS_RELACIONADOS -->
								<tr>
									<td colspan="{COLSPAN_GERAL}"><a href="#"
										onclick="javascript:AbreJanelaDocumentos('{DOCUMENTOS_RELACIONADOS}',980,350);">EDITAIS E ANEXOS</a></td>
								</tr>
								<!-- END BLOCO_DOCUMENTOS_RELACIONADOS -->

									<!-- BEGIN BLOCO_VALOR_ESTIMADO -->
									<tr>
										<td colspan="4" style="text-align: left"><strong>TOTAL
												GERAL ESTIMADO<br>(Itens que Lograram Êxito)
										</strong></td>
										<td colspan="{COLSPAN_GERAL_SUP}" style="text-align: left">{TOTALGERALESTIMADO}</td>
									</tr>
									<!-- END BLOCO_VALOR_ESTIMADO -->

									<!-- BEGIN HOMOLOGACAO -->
									<tr>
										<td colspan="4" style="text-align: left"><strong>VALOR
												HOMOLOGADO<br>(Itens que Lograram Êxito)
										</strong></td>
										<td colspan="{COLSPAN_GERAL_SUP}" style="text-align: left">{VALORHOMOLOGADO}</td>
									</tr>
									<!-- END HOMOLOGACAO -->

									<!-- BEGIN BLOCO_BLOQUEIOS -->
									<tr>
								<thead>
									<th colspan="{COLSPAN_GERAL}" class="abc"><span>BLOQUEIOS</span></th>
								</thead>
								</tr>
								<tr>
									<td bgcolor="#F7F7F7" colspan="1"><strong>EXERCÍCIO</strong></td>
									<td bgcolor="#F7F7F7" colspan="3"><strong>No
											BLOQUEIO</strong></td>
									<td bgcolor="#F7F7F7" colspan="3"><strong>UNIDADE
											ORÇAMENTÁRIA</strong></td>
									<td bgcolor="#F7F7F7" colspan="5"><strong>DOTAÇÃO</strong></td>
								</tr>
								<!-- BEGIN LINHA_BLOCO_BLOQUEIOS -->
								<tr>
									<td bgcolor="#F7F7F7" class="textonormal" colspan="1">{EXERCICIO}</td>
									<td bgcolor="#F7F7F7" class="textonormal" colspan="3">
										{NUMERO_BLOQUEIO} <input type="hidden" value="1"
										name="Bloqueios[0]">
									</td>
									<td bgcolor="#F7F7F7" class="textonormal" colspan="3">
										{UNIDADE_ORCAMENTARIA}</td>
									<td bgcolor="#F7F7F7" class="textonormal" colspan="5">
										{DOTACAO}</td>
								</tr>
								<!-- END LINHA_BLOCO_BLOQUEIOS -->
								<!-- END BLOCO_BLOQUEIOS -->

								<!-- BEGIN BLOCO_SEM_BLOQUEIOS -->
								<tr>
									<td colspan="{COLSPAN_GERAL}">Nenhum Bloqueio Informado.</td>
								</tr>
								<!-- END BLOCO_SEM_BLOQUEIOS -->

								<!-- BEGIN BLOCO_MATERIAIS -->
								<tr>
								<thead>
									<th colspan="{COLSPAN_GERAL}"><span class="text-center"> ITENS
											DE MATERIAL DA LICITAÇÃO</span></th>
								</thead>
								</tr>

								<!-- BEGIN BLOCO_LOTE -->
								<!-- BEGIN DESCRICAO_LOTE -->
								<tr bgcolor="#75ADE6" class="textonegrito">
									<td colspan="{COLSPAN_GERAL}"><strong>{LOTE}</strong></td>
								</tr>
								<tr bgcolor="#DCEDF7">
									<td colspan="1"
										style="vertical-align: middle; text-align: center; width: 50px;"><strong>ORD.</strong></td>
									<td colspan="{COLSPAN}"
										style="vertical-align: middle; text-align: center;"><strong>DESC.
											ITEM</strong></td>
									<td colspan="1"
										style="vertical-align: middle; text-align: center;"><strong>CÓD</strong></td>
									<td colspan="1"
										style="vertical-align: middle; text-align: center;"><strong>UNIDADE</strong></td>
									<!-- BEGIN BLOCO_DESCRICAO_DETALHADA_TITULO -->
									<td colspan="{COLSPAN_DESCRICAO_DETALHADA}"
										style="vertical-align: middle; text-align: center;"><strong>DESC.
											DETALHADA ITEM</strong></td>
									<!-- END BLOCO_DESCRICAO_DETALHADA_TITULO -->
									<td colspan="1"
										style="vertical-align: middle; text-align: center;"><strong>QUANTIDADE</strong></td>
									<td colspan="1"
										style="vertical-align: middle; text-align: center;"><strong>MARCA</strong></td>
									<td colspan="1"
										style="vertical-align: middle; text-align: center;"><strong>MODELO</strong></td>

									<!-- BEGIN TDVALORESTIMADO -->
									<td colspan="{COLSPAN_VALORES}"
										style="vertical-align: middle; text-align: center;"><strong>VALOR ESTIMADO</strong></td>
									<!-- END TDVALORESTIMADO -->

									<!-- BEGIN BLOCO_VALOR_HOMOLOGADO -->
									<td colspan="{COLSPAN_VALORES}"
										style="vertical-align: middle; text-align: center;"><strong>VALOR HOMOLOGADO</strong></td>
									<!-- END BLOCO_VALOR_HOMOLOGADO -->
								</tr>
								<!-- END DESCRICAO_LOTE -->
								<!-- BEGIN BLOCO_LOTE_ITEM_MATERIAL -->
								<tr>
									<td colspan="1"
										style="vertical-align: middle; text-align: center; width: 50px;">{ORDEM}</td>
									<td colspan="{COLSPAN}"
										style="vertical-align: middle; text-align: justify;">{DESCRICAO}</td>
									<td colspan="1"
										style="vertical-align: middle; text-align: center;">{CODIGO}</td>
									<td colspan="1"
										style="vertical-align: middle; text-align: center;">{UNIDADE}</td>
									<!-- BEGIN BLOCO_DESCRICAO_DETALHADA_DADO -->
									<td colspan="{COLSPAN_DESCRICAO_DETALHADA}"
										style="vertical-align: middle; text-align: center;">{DESCRICAO_DETALHADA}</td>
									<!-- END BLOCO_DESCRICAO_DETALHADA_DADO -->
									<td colspan="1"
										style="vertical-align: middle; text-align: right;">{QUANTIDADE}</td>
									<td colspan="1"
										style="vertical-align: middle; text-align: center;">{MARCA}</td>
									<td colspan="1"
										style="vertical-align: middle; text-align: center;">{MODELO}</td>
									<!-- BEGIN VALORES -->
									<td style="vertical-align: middle; text-align: right;">
										{VALOR_ESTIMADO}
									</td>
									<td colspan="1" style="vertical-align: middle; text-align: right;">
										{VALOR_HOMOLOGADO}
									</td>
									<!-- END VALORES -->

								</tr>
								<!-- END BLOCO_LOTE_ITEM_MATERIAL -->
								<!-- END BLOCO_LOTE -->
								<!-- END BLOCO_MATERIAIS -->

								<!-- BEGIN BLOCO_SERVICOS -->
								<tr class="textonegrito">
								<thead>
									<th colspan="{COLSPAN_GERAL}"><span class="text-center">ITENS DE
											SERVIÇO DA LICITAÇÃO</span></th>
								</thead>
								</tr>

								<!-- BEGIN BLOCO_LOTE_SERVICOS -->
								<!-- BEGIN DESCRICAO_LOTE_SERVICOS -->
								<tr bgcolor="#75ADE6">
									<td colspan="{COLSPAN_GERAL}"><strong>{LOTE}</strong></td>
								</tr>


								<tr bgcolor="#DCEDF7" class="textonegrito">
									<td colspan="1" style="vertical-align: middle; text-align: center; width: 50px;">
										<strong>ORD.</strong>
									</td>
									<td colspan="5" style="vertical-align: middle; text-align: center;">
										<strong>DESC. ITEM</strong>
									</td>
									<td colspan="1" style="vertical-align: middle; text-align: center; width: 50px;">
										<strong>CÓD</strong>
									</td>
									<td colspan="1" style="vertical-align: middle; text-align: center;">
										<strong>QUANTIDADE</strong>
									</td>
									<td colspan="5" style="vertical-align: middle; text-align: center;">
										<strong>DESC. DETALHADA ITEM</strong>
									</td>
								</tr>
								<!-- END DESCRICAO_LOTE_SERVICOS -->

								<!-- BEGIN BLOCO_LOTE_ITEM_SERVICOS -->
								<tr>
									<td colspan="1" style="vertical-align: middle; text-align: center; width: 50px;">{ORDEM}</td>
									<td colspan="5" style="vertical-align: middle; text-align: justify;">{DESCRICAO}</td>
									<td colspan="1" style="vertical-align: middle; text-align: center; width: 50px;">{CODIGO}</td>
									<td colspan="1" style="vertical-align: middle; text-align: right;">{QUANTIDADE}</td>
									<td colspan="5" tyle="vertical-align: middle; text-align: justify;">{DESCRICAO_DETALHADA}</td>
								</tr>
								<!-- END BLOCO_LOTE_ITEM_SERVICOS -->
								<!-- END BLOCO_LOTE_SERVICOS -->
								<!-- END BLOCO_SERVICOS -->
								<!-- BEGIN PROCESSO_LICITATORIO -->
								<tr>
									<td colspan='{COLSPAN_GERAL}' style='text-align: left'><a
										href="{URL_DIRETA_ATA}">RESULTADO DO PROCESSO LICITATÓRIO</a>
									</td>
								</tr>
								<!-- END PROCESSO_LICITATORIO -->

								<!-- BEGIN PROCESSO_LICITATORIO_MUITOS_PROCESSOS -->
								<tr>
									<td colspan='{COLSPAN_GERAL}' style='text-align: left'><a
										onclick="javascript:AbreJanela('../app/ConsAcompDetalhesDocumentosResultadoProcessoLicitatorio.php?{EVENTOMUITOSPROCESSOS}', 900, 350);">RESULTADO DO PROCESSO
											LICITATÓRIO</a></td>
								</tr>
								<!-- END PROCESSO_LICITATORIO_MUITOS_PROCESSOS -->

								<!-- BEGIN BLOCO_HISTORICO -->
								<tr>
								<thead>
									<th colspan="{COLSPAN_GERAL}" class="abc"><span>HISTÓRICO</span></th>
								</thead>
								</tr>
								<tr>
									<td colspan="{COLSPAN_GERAL_HIST}"><strong>FASE</strong></td>
									<td colspan="1"><strong>DATA</strong></td>
									<td colspan="7"><strong>DETALHE</strong></td>
									<td colspan="3"><strong>ATA(S) DA FASE</strong></td>
								</tr>
								<!-- BEGIN BLOCO_TABELA_HISTORICO -->
								<tr>
									<td colspan="{COLSPAN_GERAL_HIST}">{FASE}</td>
									<td colspan="1">{DATA}</td>
									<td colspan="7">{DETALHE}</td>
									<td colspan="3">
										<!-- BEGIN BLOCO_ATAS_DA_FASE --> {ATADAFASE} <!-- END BLOCO_ATAS_DA_FASE -->
									</td>
								</tr>
								<!-- END BLOCO_TABELA_HISTORICO -->
								<!-- END BLOCO_HISTORICO -->

								<!-- BEGIN BLOCO_RESULTADOS -->
								<tr>
								<thead>
									<th colspan="{COLSPAN_GERAL}" class="abc"><span>RESULTADOS</span></th>
								</thead>
								</tr>
								<!-- BEGIN BLOCO_TIPO_RESULTADO -->
								<tr>

									<td colspan="{COLSPAN_GERAL}"><span class="help-block text-center"
										style="color: #000000"><b>{TIPODESCRICAO}</b></span></td>
								</tr>
								<tr>
									<td colspan="{COLSPAN_GERAL}">{TIPORESULTADO}</td>
								</tr>
								<!-- END BLOCO_TIPO_RESULTADO -->
								<!-- END BLOCO_RESULTADOS -->

								</tbody>
							</table>
							<!--  -->

							<div class="clearfix">&nbsp;</div>

							<div class="btn-toolbar pagination-right">
								<form method="post"
									action="{BASE_URL}ConsTodasLicitacoesResultado.php"
									name="ConsTodasLicitacoesResultado">
									<input type="hidden" name="Objeto" value="{OBJETO_PESQUISA}" />
									<input type="hidden" name="OrgaoLicitanteCodigo"
										value="{ORGAO_LICITANTE_CODIGO}" /> <input type="hidden"
										name="ComissaoCodigo" value="{COMISSAO_CODIGO}" /> <input
										type="hidden" name="ModalidadeCodigo"
										value="{MODALIDADE_CODIGO}" /> <input type="hidden"
										name="TipoItemLicitacao" value="{TIPO_ITEM_PESQUISA}" /> <input
										type="hidden" name="ItemInput"
										value="{DESCRICAO_ITEM_PESQUISA}" /> <input type="hidden"
										name="LicitacaoAno" value="{ANO_PESQUISA}" /> <input
										type="hidden" name="Botao" value="{BOTAO_PESQUISA}" />

									<button class="btn btn-primary" type="button"
										onclick="location.href='{BASE_URL}ConsTodasLicitacoesCovidResultado.php'">Voltar
									</button>
								</form>
							</div>
							<!-- Fim do Corpo -->
						</section>
					</article>
				</div>
			</section>
		</div>
	</div>
</div>
