                <div class="content">
                    <div class="row">
                        <!-- <div class="span3">
                            <nav class="side-menu">
                                <ul class="nav nav-list">
                                    <li><a href="home.php">Início</a></li>
                                    <li class="submenu">
                                        <a href="#">Receitas <i class="arrow-down"></i></a>
                                        <ul>
                                            <li><a href="#">Receita Total</a></li>
                                            <li><a href="#">Receita Detalhada</a></li>
                                        </ul>
                                    </li>
                                    <li class="submenu">
                                        <a href="#">Despesas <i class="arrow-down"></i></a>
                                        <ul>
                                            <li><a href="#">Despesa Total</a></li>
                                            <li><a href="#">Despesa Detalhada</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Convênios</a></li>
                                    <li><a href="#">Licitações e Contratos</a></li>
                                    <li><a href="#">Remuneração dos Servidores</a></li>
                                    <li><a href="#">Demonstrativos, Balanços e Balancetes</a></li>
                                    <li><a href="#">Planejamento Orçamentário</a></li>
                                    <li><a href="#">Demonstrativos Fiscais - LRF</a></li>
                                    <li><a href="#">Dados da Gestão</a></li>
                                </ul>
                            </nav>
                        </div> -->
                        <div class="span12">
                            <section class="box-article">
                                <header class="header">
                                    <h1>Informação Sobre o Sistema Portal de Compras</h1>
                                </header>
                                <div class="body">
                                    <ul class="breadcrumb">
                                        <li><a href="{BASE_URL}home.php">Início</a><span class="divider"><i class="arrow-right"></i></span></li><!--
                                        --><li><a href="{BASE_URL}PaginaInstitucional.php">Institucional</a><span class="divider"><i class="arrow-right"></i></span></li><!--
                                        --><li class="active">Informação</li>
                                    </ul>
                                    <article class="article">
				                        <header class="article-header">
				                            <h1>Informação Sobre o Sistema Portal de Compras</h1>
				                        </header>
				                    </article>
                                    <article class="article">
                                        <div class="clearfix">&nbsp;</div>
                                        <section>
                                            <div class="row-fluid">
                                                <div class="well span5 offset3">
                                                    <dl class="dl-horizontal">
                                                        <dt>Versão:</dt>
                                                        <dd>{VERSAO}</dd>
                                                        <dt>Suporte ao Sistema:</dt>
                                                        <dd><a href="mailto:gglic@recife.pe.gov.br">gglic@recife.pe.gov.br</a></dd>
                                                        <dt>Telefone para suporte:</dt>
                                                        <dd>3355-8790</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </section>
                                    </article>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>