<!--
    Alterado: Lucas Baracho
    Data:     16/02/2023
    Objetivo: Tarefa Redmine 279282
-->
<div class="site-body">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="span12">
                    <section class="box-article">
                        <header class="header">
                            <h1>Consulta de Documentos</h1>
                        </header>
                        <div class="body">
                            <ul class="breadcrumb">
                                <li>Você está em:</li>
                                <li>
                                    <a href="{BASE_URL}home.php">Início</a>
                                    <span class="divider">
                                        <i class="arrow-right"></i>
                                    </span>
                                </li>
                                <li>
                                    <a href="{BASE_URL}LegislacaoCompras.php">Legislação de Compras</a>
                                    <span class="divider">
                                        <i class="arrow-right"></i>
                                    </span>
                                </li>
                                <li class="active">Consultar Documentação - Lei 8.666/1993 e Normativos Relacionados</li>
                            </ul>
                            <article class="article">
				                <header class="article-header">
				                    <h1>Consulta de Documentos - Lei 8.666/1993 e Normativos Relacionados</h1>
				                </header>
				            </article>
                            <article class="article">
                                <section class="article-detail">
                                    <table class="table table-report table-striped">
                                        <thead>
                                            <tr>
                                                <th colspan="5">
                                                    <span>CONSULTA DOCUMENTOS – LEGISLAÇÃO DE COMPRAS</span>
                                                    <span class="separator"></span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <strong>TÍTULO</strong>
                                                </td>
                                                <td>
                                                    <strong>DESCRIÇÃO</strong>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                            <!-- BEGIN BLOCO_TABELA -->
                                            <tr>
                                                <td>
                                                    {VALOR_TITULO}
                                                </td>
                                                <td>
                                                    {VALOR_DESCRICAO}
                                                </td>
                                                <td>
                                                    <a target="{TARGET}" href="{VALOR_ARQUIVO}">
                                                        <img src="{VALOR_IMAGEM}" width="32px" height="32px"/>
                                                    </a>
                                                </td>
                                            </tr>
                                            <!-- END BLOCO_TABELA -->        
                                            <!-- BEGIN BLOCO_TABELA_SEMARQUIVO -->
                                            <tr>
                                                <td>
                                                    {VALOR_TITULO}
                                                </td>
                                                <td>
                                                    {VALOR_DESCRICAO}
                                                </td>
                                                <td>
                                                    <img src="{VALOR_IMAGEM}" width="32px" height="32px"/>
                                                </td>
                                            </tr>
                                            <!-- END BLOCO_TABELA_SEMARQUIVO -->
                                        </tbody>
                                    </table>
                                </section>
                            </article>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>