<div class="container">
    <div class="content">
        <section class="box-article">
            <header class="header">
                <h1>Dispensa Inexibilidade</h1>
            </header>
            <div class="body">
                <ul class="breadcrumb">
                    <li><a href="{BASE_URL}home.php">Início</a><span class="divider"><i class="arrow-right"></i></span></li>
                    <li class="active">Dispensa Inexibilidade</li>
                </ul>
                <article class="article">
                    <header class="article-header">
                        <h1>Registro de Preços</h1>
                    </header>
                    <ul>
                        <a href="{BASE_URL}ConsAvisoDispensaInexibilidade.php">Avisos de Novas Dispensas/Inexibilidades</a><br />
                        <a href="{BASE_URL}ConsDispensaInexigibilidadePesquisar.php">Todas as Dispensas/Inexibilidades</a><br />
                    </ul>
                </article>
            </div>
        </section>
    </div>
</div>