<div class="content">
    <div class="row">
        <div class="span12">
            <section class="box-article">
                <header class="header">
                    <h1>Fale Conosco - Licitações</h1>
                </header>
                <div class="body">
                    <ul class="breadcrumb">
                        <li>Você está em:</li>
                        <li><a href="{BASE_URL}home.php">Início</a><span class="divider"><i class="arrow-right"></i></span></li><!--
                                        --><li><a href="{BASE_URL}FaleConosco.php">Fale Conosco</a><span class="divider"><i class="arrow-right"></i></span></li><!--
                                        --><li class="active">Licitações </li>
                    </ul>
                    <article class="article">
                        <header class="article-header">
                            <h1>Fale Conosco - Licitações</h1>
                            <h6>Envie um e-mail utilizando os campos abaixo ou ligue para as <a href="./ConsComissao.php">comissões de licitação</a></h6>
                        </header>
                    </article>
                    <article class="article">
                        <div class="clearfix">&nbsp;</div>
                        <section>
                            <div class="row-fluid">
                                <div class="well span6 offset3">
                                    <p>Para enviar um e-mail para {NOME_SETOR} da Prefeitura do Recife, preencha os dados abaixo e clique no botão "Enviar".</p>
                                    <!-- BEGIN BLOCO_MENSAGEM -->
                                    <div class="alert {TIPOALERT}">
                                        <button class="close" data-dismiss="alert" type="button">×</button>
                                        {MENSAGEM}
                                    </div>
                                    <!-- END BLOCO_MENSAGEM -->
                                    <form class="formSubmit" method="post" action="{BASE_URL}EmailLicitacoes.php" name="EmailLicitacoes">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <label for="txtnome" class="big">Nome*</label>
                                                <input name="txtnome" type="text" class="span12" id="txtnome" value="{NOME}">
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <label for="txtemail" class="big">Email*</label>
                                                <input name="txtemail" type="text" class="span12" id="txtemail" value="{EMAIL}">
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <label for="txtmensagem" class="big">Mensagem*</label>
                                                <textarea name="txtmensagem" rows="4" class="span12" id="txtmensagem">{TEXTO_MENSAGEM}</textarea>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="btn-toolbar pagination-right">
                                            <button class="btn btn-primary">Enviar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </article>
                </div>
            </section>
        </div>
    </div>
</div>