<div class="content">
	<div class="row">
		<div class="span12">
			<section class="box-article">
			<header class="header">
				<h1>Glossário</h1>
			</header>
			<div class="body">
				<ul class="breadcrumb">
                    <li>Você está em:</li>
					<li><a href="{BASE_URL}home.php">Início</a><span class="divider"><i class="arrow-right"></i></span></li>
					<li><li class="active">Glossário</li>
				</ul>
                <article class="article">
                    <header class="article-header">
                        <h1>Glossário</h1>
                    </header>
                </article>
                <article class="article">
                    <section class="article-detail row-border">
                        <p align="justify">
                            <br>
                           <span>ADJUDICAÇÃO</span>  – É o ato pelo qual a Administração atribui ao vencedor o objeto da licitação.
                        </p>
                        <p align="justify">
                            <br>
                            <span>ADMINISTRAÇÃO DIRETA</span> – É o conjunto de órgãos que integram as pessoas políticas ou federativas (União, Estados, Distrito Federal e Municípios), aos quais foi atribuída a competência para o exercício das atividades administrativas do Estado de forma centralizada.
                        </p>
                        <p align="justify">
                            <br>
                            <span>ADMINISTRAÇÃO INDIRETA</span> – É composta pelas entidades administrativas, que possuem personalidade jurídica própria e são responsáveis por executar atividades administrativas de forma descentralizada. São elas: autarquias, fundações públicas e empresas estatais (empresas públicas e sociedade de economia mista).
                        </p>
                        <p align="justify">
                            <br>
                            <span>ADMINISTRAÇÃO PÚBLICA</span> – Conjunto formado pelos órgãos da administração direta, os fundos especiais, as autarquias, as fundações públicas, as empresas públicas, as sociedades de economias mistas e demais entidades controladas direta ou indiretamente pela União, Estados, Distrito Federal e Municípios.
                        </p>
                        <p align="justify">
                            <br>
                           <span>ADMINISTRAÇÃO PÚBLICA MUNICIPAL</span> – Conjunto formado pelos órgãos da administração direta e entidades da administração indireta do Poder Executivo do Município do Recife.
                        </p>
                        <p align="justify">
                            <br>
                           <span> ARQUIVAMENTO DE PROCESSO</span> – É uma ação no sistema para informar que o processo foi arquivado e não terá mais movimentação. Significa, portanto, que sua tramitação cessou, e se caracteriza pelo fim da ação administrativa que determinou a produção do documento.
                        </p>
                        <p align="justify">
                            <br>
                           <span> ATA DE REGISTRO DE PREÇOS </span> – Documento vinculativo, obrigacional, com característica de compromisso para futura contratação, em que se registram os preços, fornecedores, órgãos participantes e condições a serem praticadas, conforme as disposições contidas no instrumento convocatório e propostas apresentadas.
                        </p>
                        <p align="justify">
                            <br>
                           <span> AUTARQUIA</span> – Pessoa jurídica de direito público, criada por lei, com capacidade de autoadministração, para desempenho de serviço público descentralizado, mediante controle administrativo exercido nos limites da lei.
                        </p>
                        <p align="justify">
                            <br>
                            <span>BENEFÍCIOS E DESPESAS INDIRETAS (BDI) </span> – Valor percentual que incide sobre o custo global de referência para a realização de obra ou serviço de engenharia.
                        </p>
                        <p align="justify">
                            <br>
                            <span>CADASTRO DE FORNECEDORES </span> –  Cadastramento dos prestadores de serviços e/ou fornecedores de material ao serviço público.
                        </p>
                        <p align="justify">
                            <br>
                            <span>CADUM  </span> – Cadastro Único de Materiais: catalogação dos materiais destinados às atividades da Administração Pública Municipal, abrangendo a identificação, descrição e classificação dos materiais.
                        </p>
                        <p align="justify">
                            <br>
                            <span>CADUS </span> – Catálogo Único de Serviços: catalogação dos serviços a serem contratados pela Administração Pública Municipal, abrangendo a identificação, descrição e classificação dos serviços segundo padrões de desempenho desejados.
                        </p>
                        <p align="justify">
                            <br>
                            <span>COLETA DE PREÇOS </span> – Fase de estimativa de preços em que, através de busca no mercado em diversas fontes, se pesquisa dados de preços pelos quais os fornecedores estão dispostos a oferecer seus produtos à Administração Pública Municipal.
                        </p>
                        <p align="justify">
                            <br>
                            <span>CONCORRÊNCIA </span> –  Modalidade da qual podem participar quaisquer interessados que na fase de habilitação preliminar comprovem possuir os requisitos mínimos de qualificação exigidos no edital para execução do objeto da licitação.
                        </p>
                        <p align="justify">
                            <br>
                            <span>COMPRA </span> – Toda aquisição remunerada de bens para fornecimento de uma só vez ou parceladamente.
                        </p>
                        <p align="justify">
                            <br>
                            <span>COMPRA CORPORATIVA </span> – Aquisição ou contratação de serviços globais de determinados serviços e bens de uso comum, visando o suprimento de vários órgãos ou entidades.
                        </p>
                        <p align="justify">
                            <br>
                            <span>COMPRA DIRETA </span> – Contratação por dispensa de licitação em razão do valor.
                        </p>
                        <p align="justify">
                            <br>
                            <span>CONTRATO ADMINISTRATIVO </span> – É o ajuste que a Administração Pública, agindo nessa qualidade, firma com o particular ou outra entidade administrativa para a consecução de objetivos de interesse públicos, nas condições estabelecidas pela própria Administração.
                        </p>
                        <p align="justify">
                            <br>
                            <span>CONVÊNIO </span>– Instrumento realizado entre entidades, que possuem interesses comuns, que disciplinam os repasses ou recebimentos de recursos públicos.
                        </p>
                        <p align="justify">
                            <br>
                            <span>CNPJ (Cadastro Nacional de Pessoas Jurídicas) </span>– É o cadastro administrado pela Receita Federal do Brasil que registra as informações cadastrais das pessoas jurídicas e de algumas entidades não caracterizadas como tais.
                        </p>
                        <p align="justify">
                            <br>
                            <span>CPF (Cadastro de Pessoas Físicas)  </span>- É o documento que identifica o contribuinte pessoa física perante a Secretaria da Receita Federal do Brasil (RFB). O CPF armazena as informações cadastrais da pessoa fornecidas pelo próprio contribuinte e pelos outros sistemas de dados da RFB. Segundo a lei, cada pessoa pode se inscrever no cadastro somente uma única vez e, portanto, só pode possuir um único número de inscrição.
                        </p>
                        <p align="justify">
                            <br>
                            <span>DISPENSA DE LICITAÇÃO  </span> – Modalidade de contratação direta por meio da qual a administração está desobrigada de realizar procedimento licitatório. Na dispensa de licitação, a competição, embora possível, não é obrigatória, em razão de outros princípios que regem a atividade administrativa.
                        </p>
                        <p align="justify">
                            <br>
                            <span>DOTAÇÃO ORÇAMENTÁRIA </span> – Autorização de despesas expressa em valores monetários pela LOA para atender a uma determinada programação orçamentária.
                        </p>
                        <p align="justify">
                            <br>
                            <span>DOWNLOAD</span> – (baixar, em uma tradução simples) é um termo que corresponde à ação de transferir dados de um computador remoto para um computador local. Essa cópia de arquivos pode ser feita tanto a partir de servidores dedicados (como FTP, por exemplo), quanto pelo simples acesso a uma página da Internet no navegador.
                        </p>
                        <p align="justify">
                            <br>
                            <span>CNPJ (Cadastro Nacional de Pessoas Jurídicas) </span>– É o cadastro administrado pela Receita Federal do Brasil que registra as informações cadastrais das pessoas jurídicas e de algumas entidades não caracterizadas como tais.
                        </p>
                        <p align="justify">
                            <br>
                            <span>EDITAL</span> – Lei interna da licitação. Documento que enumera todas as condições que devem ser cumpridas pela administração e pelos licitantes num processo licitatório.
                        </p>
                        <p align="justify">
                            <br>
                            <span>EMPENHO  </span>–  Ato emanado de autoridade competente que cria, para o Estado, obrigação de pagamento.
                        </p>
                        <p align="justify">
                            <br>
                            <span>EMPRESA PÚBLICA </span>–  Pessoa jurídica de direito privado, integrante da Administração Indireta do Estado, criada por autorização legal, sob qualquer forma jurídica adequada a sua finalidade, para que o Governo exerça atividades gerais de caráter econômico ou, em certas situações, execute a prestação de serviços públicos.
                        </p>
                        <p align="justify">
                            <br>
                            <span>ESTIMATIVA DE PREÇOS </span>– Uma das etapas fundamentais da contratação na Administração Pública Municipal na qual se busca aferir o preço do objeto da aquisição ou contratação.
                        </p>
                        <p align="justify">
                            <br>
                            <span>EXERCÍCIO FINANCEIRO </span>–  É o prazo de vigência de orçamento, ou seja, é o período para o qual são previstas as receitas e autorizadas as despesas. No Brasil esse período corresponde ao ano civil.
                        </p>
                        <p align="justify">
                            <br>
                            <span>FONTE DE RECURSOS  </span>– Indica a origem ou a procedência dos recursos. Esta classificação combina o critério de origem do recurso e o da vinculação de receita às despesas orçamentárias. A vinculação de receitas e despesas visa demonstrar as parcelas de recursos que já estão comprometidas com o atendimento de determinadas finalidades, e aqueles que podem ser livremente alocados.
                        </p>
                        <p align="justify">
                            <br>
                            <span>FORNECEDOR DE MATERIAIS </span>– É o contratado, comprovadamente idôneo, para atender as necessidades de suprimento do Município do Recife.
                        </p>
                        <p align="justify">
                            <br>
                            <span>GESTOR  </span>– Quem gerencia ou administra negócios, bens ou serviços.
                        </p>
                        <p align="justify">
                            <br>
                            <span>HOMOLOGAÇÃO</span> –  é o ato pelo qual a autoridade responsável, ao tomar ciência dos atos praticados e aprová-los, reconhece a licitude do procedimento. É de fundamental importância no universo jurídico, pois é nesse instante que a responsabilidade pelos fatos ocorridos no decorrer do procedimento passa a ser compartilhada pelo gestor.
                        </p>
                        <p align="justify">
                            <br>
                            <span>INEXIGIBILIDADE DE LICITAÇÃO </span>– A inexigibilidade de licitação ocorre quando há inviabilidade jurídica de competição entre contratantes, quer pela natureza específica do negócio, quer pelos objetivos sociais visados pela Administração. Ocorre em situações que, mesmo que o Administrador desejasse, não seria possível proporcionar a competição.
                        </p>
                        <p align="justify">
                            <br>
                            <span>LICITAÇÃO  </span>–  É o procedimento administrativo pelo qual o ente público, no exercício da função administrativa, abre a todos os interessados, que se sujeitam às condições fixadas no instrumento convocatório, a possibilidade de formularem propostas dentre as quais selecionará e aceitará a mais conveniente para a celebração do contrato. 
                        </p>
                        <p align="justify">
                            <br>
                            <span>LIQUIDAÇÃO </span>– Consiste na verificação do direito adquirido pelo credor tendo por base os títulos e documentos comprobatórios do respectivo crédito e tem por objetivo apurar a origem e o objeto do que se deve pagar; a importância exata a pagar; e a quem se deve pagar a importância para extinguir a obrigação.
                        </p>
                        <p align="justify">
                            <br>
                            <span>MATERIAL DE CONSUMO  </span>– Aquele cuja duração é limitada a curto lapso de tempo. Exemplos: artigos de escritório, de limpeza e higiene, material elétrico e de iluminação, gêneros alimentícios, artigos de mesa, combustíveis etc.
                        </p>
                        <p align="justify">
                            <br>
                            <span>MATERIAL PERMANENTE </span>– Aquele de duração superior a dois anos. Exemplos: mesas, máquinas, tapeçaria, equipamentos de laboratórios, ferramentas, veículos, semoventes, etc.
                        </p>
                        <p align="justify">
                            <br>
                            <span>MEDIÇÃO </span>– Verificação das quantidades das obras ou serviços executados em cada etapa contratual.
                        </p>
                        <p align="justify">
                            <br>
                            <span>OBJETO DA LICITAÇÃO  </span>–  É a obra, o serviço, a compra, a alienação, a concessão, a permissão e a locação que, afinal, será contratada com o particular.
                        </p>
                        <p align="justify">
                            <br>
                            <span>ORÇAMENTO DE REFERÊNCIA </span>– Detalhamento do preço global de referência que expressa à descrição, quantidades e custos unitários de todos os serviços, incluídas as respectivas composições de custos unitários, necessários à execução da obra e compatíveis com o projeto que integra o edital de licitação.
                        </p>
                        <p align="justify">
                            <br>
                            <span>ORDENADOR DE DESPESA </span>– É a autoridade investida de competência para autorizá-la, nos termos estabelecidos no art.115 do Código de Administração Financeira do Município do Recife, Lei Municipal nº 14.512 de 17 da janeiro de 1983, o qual poderá delegar formalmente suas atribuições, conforme parágrafo único do artigo mencionado.
                        </p>
                        <p align="justify">
                            <br>
                            <span>ÓRGÃO GERENCIADOR </span>– Órgão ou entidade da administração pública municipal responsável pela condução do conjunto de procedimentos para registro de preços e gerenciamento da ata de registro de preços dele decorrente.
                        </p>
                        <p align="justify">
                            <br>
                            <span>ÓRGÃO PARTICIPANTE </span>– Órgão ou entidade da administração pública que participa dos procedimentos iniciais do Sistema de Registro de Preços e integra a ata de registro de preços.
                        </p>
                        <p align="justify">
                            <br>
                            <span>ÓRGÃO NÃO PARTICIPANTE  </span>– Órgão ou entidade da administração pública que, não tendo participado dos procedimentos iniciais da licitação, atendidos os requisitos da lei, faz adesão à ata de registro de preços.
                        </p>
                        <p align="justify">
                            <br>
                            <span>ÓRGÃO PARTICIPANTE DE COMPRA CORPORATIVA </span>– Órgão ou entidade da administração pública que, em razão de participação em programa ou projeto municipal, é contemplado no registro de preços independente de manifestação formal.
                        </p>
                        <p align="justify">
                            <br>
                            <span>PARCERIA PÚBLICO-PRIVADAS</span> –  Contrato administrativo de concessão, na modalidade patrocinada ou administrativa, celebrado entre a Administração Pública e agentes do setor privado, para implantação, desenvolvimento, exploração ou gestão, no todo ou em parte, de serviços, empreendimentos e atividades de interesse público dele decorrentes, em que o financiamento e a responsabilidade pelo investimento e pela exploração incumbam ao partícipe privado, sendo este remunerado segundo o seu desempenho na execução das atividades contratadas, a partir dos padrões de qualidade estabelecidos no contrato de concessão.
                        </p>
                        <p align="justify">
                            <br>
                            <span>PESQUISA DIRETA</span> – Pesquisa realizada nos estabelecimentos comerciais nacionais, em que são publicamente divulgados os preços e registrada por agente público da Administração Pública Municipal.
                        </p>
                        <p align="justify">
                            <br>
                            <span>SARP  </span> - Solicitação de Ata de Registros de Preços.
                        </p>
                        <p align="justify">
                            <br>
                            <span>SCC</span> – Solicitação de Compras e Contratação: documento em forma eletrônica e/ou física que consolida e materializa a necessidade de bens e/ou contratação de serviços.
                        </p>
                        <p align="justify">
                            <br>
                            <span>SICREF</span> – Sistema de Credenciamento Unificado de Fornecedores: deve ser utilizado para inscrever pessoas físicas e jurídicas que pretendam contratar com a Administração Pública Municipal, destinando-se a desburocratizar, agilizar e aumentar a competitividade das compras governamentais.
                        </p>
                        <p align="justify">
                            <br>
                            <span>SISTEMA DE REGISTRO DE PREÇOS</span> – Conjunto de procedimentos para registro formal de preços relativos à prestação de serviços e aquisição de bens, para contratações futuras.
                        </p>
                        <p align="justify">
                            <br>
                            <span>TERMO ADTIVO</span> – Ato de alteração de itens de contratos, convênios ou acordos firmados pela administração pública.
                        </p>
                        <p align="justify">
                            <br>
                            <span>TERMO DE REFERÊNCIA</span> – É o documento que deverá conter elementos capazes de propiciar a avaliação do custo pela Administração, diante de orçamento detalhado, considerando os preços praticados no mercado, a definição dos métodos, a estratégia de suprimento e o prazo de execução do contrato.
                        </p>
                        <p align="justify">
                            <br>
                            <span>TRP-REC</span> – Tabela Referencial de Preços do Recife: banco municipal de preços administrado pela SELIC/GGLIC.
                        </p>
                        <p align="justify">
                            <br>
                            <span>VIGÊNCIA</span> – É o atributo da norma jurídica que, em um determinado tempo e espaço, é destinada a produzir efeitos no mundo jurídico, de modo cogente.
                        </p>
                        <p align="justify">
                            <br>
                            <span>UNIDADE ORÇAMENTÁRIA</span> – gmento da administração direta ou administração indireta a que o orçamento consigna dotações específicas para a realização de seus programas de trabalho e sobre os quais exerce o poder de disposição. É o menor nível da classificação institucional, agrupada em órgãos orçamentários, entendidos estes como os de maior nível da classificação institucional.
                        </p>

                    </section>

                </article>
			</div>		
		</div>			
</div>