<div class="container">
    <div class="content">
        <section class="box-article">
            <header class="header">
            <h1>Institucional</h1>
            </header>
            <div class="body">
                <ul class="breadcrumb">
                    <li><a href="{BASE_URL}home.php">Início</a><span class="divider"><i class="arrow-right"></i></span></li>
                    <li class="active">Institucional<span class="divider"><i class="arrow-right"></i></span></li>
                </ul>
                <article class="article">
                    <header class="article-header">
                        <h1>Institucional</h1>
                    </header>
                    <ul>
                        <a href="{BASE_URL}ConsDocumento.php">Legislação de Compras</a>
                        <br />
                    </ul>
                </article>
            </div>
        </section>
    </div>
</div>