<!--
    Alterado: Lucas Baracho
    Data:     16/02/2023
    Objetivo: Tarefa Redmine 279282
-->
<div class="container">
    <div class="content">
        <section class="box-article">
            <header class="header">
            <h1>Legislação de Compras</h1>
            </header>
            <div class="body">
                <ul class="breadcrumb">
                    <li>Você está em:</li>
                    <li><a href="{BASE_URL}home.php">Início</a><span class="divider"><i class="arrow-right"></i></span></li>
                    <li class="active">Legislação de Compras<span class="divider"><i class="arrow-right"></i></span></li>
                </ul>
                <article class="article">
                    <header class="article-header">
                        <h1>Legislação de Compras e Normativos Relacionados</h1>
                    </header>
                    <ul>
                        <a href="{BASE_URL}ConsDocumento2.php">Lei Federal 14.133/2021</a><br>
                        <a href="{BASE_URL}ConsDocumento.php">Lei Federal 8.666/1993</a><br>
                    </ul>
                </article>
            </div>
        </section>
    </div>
</div>