<!--
    =============================================================
    Autor: João Madson
    Tarefa: CR #243182
    Data: 27/01/2021
    =============================================================
    Autor: Lucas André
    Tarefa: CR #285488
    Data: 28/06/2023
    =============================================================
-->


<div class="content">
    <div class="row">
        <div class="span12">
            <section class="box-article">
                <header class="header">
                    <h1>Licitações</h1>
                </header>
                <div class="body">
                    <ul class="breadcrumb">
                        <li>Você está em:</li>
                        <li><a href="{BASE_URL}home.php">Início</a><span class="divider"><i class="arrow-right"></i></span></li>
                        <li class="active">Licitações</li>
                    </ul>
                    <article class="article">
                        <header class="article-header">
                            <p class="titulo-noticia" title="aviso">
                                <span style="color: #1257aa;">Todas as informações são atualizadas em tempo real, ou seja, são exibidas imediatamente após o cadastramento</span>
                            </p>
                            <h1>Licitações</h1>
                        </header>
                        <ul>
							<a href="{BASE_URL}ConsAvisosPesquisar.php"><strong>Avisos de Novas Licitações</strong></a><br/>
                            <a href="{BASE_URL}ConsLicitacoesAndamento.php">Licitações em Andamento</a><br/>
                            <a href="{BASE_URL}ConsLicitacoesConcluidas.php">Licitações Concluídas</a><br/>
                            <a href="{BASE_URL}ConsTodasLicitacoes.php">Todas as Licitações</a><br/>
                            <a href="{BASE_URL}ConsTodasLicitacoesCovid.php">Licitações - COVID / IMUNIZAÇÃO</a><br/>
						</ul>
                    </article>
                </div>
            </section>
        </div>
    </div>
</div>