<div class="container">
    <div class="content">
        <section class="box-article">
            <header class="header">
                <h1>Links de Interesses</h1>
            </header>
            <div class="body">
                <ul class="breadcrumb">
                    <li><a href="{BASE_URL}home.php">Início</a><span class="divider"><i class="arrow-right"></i></span></li>
                    <li class="active">Links de Interesses<span class="divider"><i class="arrow-right"></i></span></li>
                </ul>
                <article class="article">
                    <header class="article-header">
                        <h1>Links de Interesses</h1>
                    </header>
                    <ul>
                        <a target="_blank" href="http://portaltransparencia.recife.pe.gov.br">Portal da Transparência</a><br />
                        <a target="_blank" href="http://dados.recife.pe.gov.br/">Portal de Dados Abertos do Recife</a><br />
                        <a target="_blank" href="http://www.tst.jus.br/certidao">Certidão Negativa de Débitos
                                Trabalhistas</a><br />
                        <a target="_blank" href="http://www.pgfn.fazenda.gov.br/divida-ativa-da-uniao">Dívida Ativa da União</a><br />
                        <a target="_blank" href="http://www.caixa.gov.br/fgts/">FGTS</a><br />
                        <a target="_blank" href="http://www.previdencia.gov.br/a-previdencia/instituto-nacional-do-seguro-social-inss/">INSS</a><br />
                        <a target="_blank" href="http://www.receita.fazenda.gov.br/">Receita Federal</a><br />
                    </ul>
                </article>
            </div>
        </section>
    </div>
</div>