<!--
--------------------------------------------------------
    Alterado: Lucas André
    Data:     28/06/2023
    Objetivo: 285493
--------------------------------------------------------
-->

<div class="container">
    <div class="content">
        <section class="box-article">
            <header class="header">
                <h1>Registro de Preços</h1>
            </header>
            <div class="body">
                <ul class="breadcrumb">
                    <li>Você está em:</li>
                    <li><a href="{BASE_URL}home.php">Início</a><span class="divider"><i class="arrow-right"></i></span></li>
                    <li class="active">Registro de Preços</li>
                </ul>
                <article class="article">
                    <header class="article-header">
                        <p class="titulo-noticia" title="aviso">
                            <span style="color: #1257aa;">Todas as informações são atualizadas em tempo real, ou seja, são exibidas imediatamente após o cadastramento</span>
                        </p>
                        <h1>Registro de Preços</h1>
                    </header>
                    <ul>
                        <a href="{BASE_URL}ConsRegistroPrecoPesquisar.php">Atas de Registro de Preços</a><br />
                        <a href="{BASE_URL}ConsRegistroPrecoAdesaoAtas.php">Processo de Adesão às Atas de Registro de Preços</a><br />
                    </ul>
                </article>
            </div>
        </section>
    </div>
</div>