<div class="row">
						
						<div class="span12">
							<section class="box-article">
								<header class="header">
									<h1>Dispensa / Inexigibilidade - Detalhamento</h1>	
								</header>
								<div class="body">
			                    <article class="article">
			                        <header class="article-header">
			                            <h1>Dispensa / Inexigibilidade - Detalhamento</h1>
			                        </header>
			                    </article>								
								   <section class="article-detail row-border">
										<p align="justify">Para voltar à tela de resultados, selecione o botão "Voltar"</p>
								    </section>
										<div class="btn-toolbar pagination-right">
					                        <button class="btn btn-primary" type="button" onClick="location.href='RotExibeDispensaInexigibilidade.php'">Voltar</button>
										</div>
										
										<section class="article-detail">
					                        <table class="table table-report">
						                      <thead>
							                     <th colspan="12">
								                    <span class="text-center"> CRITÉRIOS DE PESQUISA </span>
							                     </th>	
						                     </thead>
						                     <tbody>
						                       <tr>
							                      <td colspan="4" style="text-align: left">Tipo:</td>
							                      <td colspan="8" style="text-align: left"> {TIPO}</td>
							                    </tr>
							                    <tr>
							                      <td colspan="4" style="text-align: left"> Órgão:</td>
							                      <td colspan="8" style="text-align: left"> {ORGAO}</td>
							                    </tr>
							                    <tr>
							                      <td colspan="4" style="text-align: left"> Número/Ano:</td>
							                      <td colspan="8" style="text-align: left"> {NUMERO}</td>
							                    </tr>
							                    <tr>
							                      <td colspan="4" style="text-align: left"> Objeto:</td>
							                      <td colspan="8" style="text-align: left"> {OBJETO}</td>
							                    </tr>
							                    <tr>
							                      <td colspan="4" style="text-align: left"> Data de Publicação:</td>
							                      <td colspan="8" style="text-align: left"> {DATAPUBLICACAO}</td>
							                    </tr>
							                    <tr>
							                      <td colspan="4" style="text-align: left"> Data de Vigência:</td>
							                      <td colspan="8" style="text-align: left"> {DATAVIGENCIA}</td>
							                    </tr>
							                    <tr>
							                      <td colspan="4" style="text-align: left"> Fundamentação Legal</td>
							                      <td colspan="8" style="text-align: left"> {FUNDAMENTACAO}</td>
							                    </tr >
							                    <tr style="{CANCELADO}">
							                      <td colspan="4" style="text-align: left"> Valor Total</td>
							                      <td colspan="8" style="text-align: left"> {VALORTOTAL}</td>
							                    </tr>
							                    <tr style="{CANCELADO}" >
							                      <td colspan="4" style="text-align: left"> Fornecedor(es) vencedor(es):</td>
							                      <td colspan="8" style="text-align: left"> {FORNECEDORES}</td>
							                    </tr>
						                    </tbody>
						
					                       </table>
				                      </section>
								</div>
							</section>
						</div>
</div>